## ðŸ“ˆ Predicting Premier League Final Positions Using Betting Odds, Probabilistic Modelling & Simulation

**Competition:** English Rugby Premiership 2025/26  
**Purpose:** Estimate probabilities of final league positions using betting market information and simulation  
**Methods:** Odds-implied probabilities, Monte Carlo simulation, scenario analysis  
**Author:** [Victoria Friss de Kereki](https://www.linkedin.com/in/victoria-friss-de-kereki/) 
**Medium Article:** [Predicting Premier League Final Positions Using Betting Odds, Probabilistic Modelling & Simulation](https://medium.com/p/2720ec335c3c)

---

**Notebook first written:** `17/01/2026`  
**Last updated:** `26/01/2026`  

> This notebook develops a probabilistic framework to predict final English Rugby Premiership final positions using betting odds as market-based expectations.
>
> Betting odds are transformed into implied probabilities and adjusted for bookmaker margin. These probabilities are then used to simulate the remainder of the season via Monte Carlo methods, generating distributions over final points totals and league positions.
>
> The analysis focuses on estimating the likelihood of key outcomes such as title wins, top-four finishes, relegation, and mid-table placements. Results are presented at team level with uncertainty intervals, and the framework can be extended to incorporate form, fixture difficulty, or alternative predictive inputs beyond betting markets.

<div style="text-align: left;">
    <img src="Images and others for Medium/Predicting PREMIERSHIP final positions.png"  
         alt="Predicting PREMIERSHIP final positions"  
         width="600">
</div>

In [1]:
# import soccerdata as sd

# Core
from datetime import datetime, timedelta
import os

# Data manipulation
import numpy as np
import pandas as pd

# APIs & environment
import requests
from dotenv import load_dotenv

# Statistics
from scipy.stats import poisson

# Visualisation
import matplotlib.pyplot as plt
from matplotlib.colors import LinearSegmentedColormap

## 1. Premiership Final Standings (ESPN Scraping)
##### Adapting the ESPN scraper I built in my previous project to be used for Rugby Premiership instead of Football Premier League.

In [2]:
url = "https://www.espn.com/rugby/standings/_/league/267979"
tables = pd.read_html(url)

# Fix ESPN header issue
teams_raw = tables[0].copy()

# Move column names into first row
teams_raw.loc[-1] = teams_raw.columns
teams_raw.index = teams_raw.index + 1
teams_raw = teams_raw.sort_index().reset_index(drop=True)

# Stats table is fine as-is
stats = tables[1]

# Parse team table
teams = pd.DataFrame()

teams["position"] = (
    teams_raw.iloc[:, 0]
    .astype(str)
    .str.extract(r"^(\d+)")
    .astype(int)
)

teams["team"] = (
    teams_raw.iloc[:, 0]
    .astype(str)
    .str.replace(r"^\d+", "", regex=True)        # remove position
    .str.replace(r"^[A-Z]{2,3}", "", regex=True) # remove abbreviation
    .str.strip()
)

# Parse stats table
stats.columns = [
    "gp", "w", "d", "l", "bye",
    "pf", "pa", "tf", "ta",
    "tbp", "lbp", "bp",
    "pd", "pts"
]

stats = stats.apply(
    lambda c: (
        c.astype(str)
         .str.replace("+", "", regex=False)
         .astype(int)
    )
)

# Combine
premiership = pd.concat([teams, stats], axis=1)

premiership

,position,team,gp,w,d,l,bye,pf,pa,tf,ta,tbp,lbp,bp,pd,pts
0,1,Northampton Saints,10,8,1,1,0,390,282,58,39,9,0,9,108,43
1,2,Bath Rugby,10,8,0,2,0,343,237,50,34,8,1,9,106,41
2,3,Bristol Rugby,10,8,0,2,0,290,235,41,34,5,0,5,55,37
3,4,Leicester Tigers,10,7,0,3,0,301,238,41,31,7,1,8,63,36
4,5,Exeter Chiefs,10,6,1,3,0,272,179,37,24,6,3,9,93,35
5,6,Saracens,10,5,0,5,0,383,248,56,35,9,3,12,135,32
6,7,Sale Sharks,10,3,0,7,0,285,297,39,43,5,3,8,-12,20
7,8,Gloucester Rugby,10,1,0,9,0,214,335,32,45,4,3,7,-121,11
8,9,Harlequins,10,2,0,8,0,196,351,26,52,2,0,2,-155,10
9,10,Newcastle Falcons,10,1,0,9,0,167,439,23,66,1,0,1,-272,5

## 2. Get betting odds using API

#### No matches betting odds available as there is still over a month to go until the next match.

## 3. Get fixtures for upcoming EPL games
#### No API available for Premiership Rugby, so performing web scraping from https://www.skysports.com/rugby-union/competitions/gallagher-prem/fixtures instead.

In [6]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://www.skysports.com/rugby-union/competitions/gallagher-prem/fixtures"

headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64)"
}

response = requests.get(url, headers=headers)
response.raise_for_status()

soup = BeautifulSoup(response.text, "html.parser")

fixtures_container = soup.find("div", class_="fixres__body")

month = None
date = None

dates = []
months = []
home_teams = []
away_teams = []
times = []

for elem in fixtures_container.children:
    # Skip empty elements or strings
    if not hasattr(elem, "name"):
        continue

    # Month header
    if elem.name == "h3" and "fixres__header1" in elem.get("class", []):
        month = elem.get_text(strip=True)

    # Date header
    elif elem.name == "h4" and "fixres__header2" in elem.get("class", []):
        date = elem.get_text(strip=True)

    # Match item
    elif elem.name == "div" and "fixres__item" in elem.get("class", []):
        home = elem.select_one("span.matches__participant--side1 span.swap-text__target").get_text(strip=True)
        away = elem.select_one("span.matches__participant--side2 span.swap-text__target").get_text(strip=True)
        time = elem.select_one("span.matches__date").get_text(strip=True)

        months.append(month)
        dates.append(date)
        home_teams.append(home)
        away_teams.append(away)
        times.append(time)

# Build DataFrame
df = pd.DataFrame({
    "month": months,
    "date": dates,
    "time": times,
    "home_team": home_teams,
    "away_team": away_teams
})

print(df.head())
print("Total fixtures scraped:", len(df))

        month                 date   time         home_team  \
0  March 2026    Friday 20th March  19:45              Bath
1  March 2026  Saturday 21st March  15:00        Harlequins
2  March 2026  Saturday 21st March  15:00       Northampton
3  March 2026  Saturday 21st March  15:05            Exeter
4  March 2026    Sunday 22nd March  15:00  Leicester Tigers

             away_team
0             Saracens
1           Gloucester
2  Newcastle Red Bulls
3          Sale Sharks
4        Bristol Bears
Total fixtures scraped: 43

In [134]:
# Remove fixtures with TBC in either team
df_future = df[~df["home_team"].str.contains("TBC") & ~df["away_team"].str.contains("TBC")].reset_index(drop=True)

print("Total fixtures after removing TBC matches:", len(df_future))

Total fixtures after removing TBC matches: 40

In [135]:
df_future

,month,date,time,home_team,away_team
0,March 2026,Friday 20th March,19:45,Bath,Saracens
1,March 2026,Saturday 21st March,15:00,Harlequins,Gloucester
2,March 2026,Saturday 21st March,15:00,Northampton,Newcastle Red Bulls
3,March 2026,Saturday 21st March,15:05,Exeter,Sale Sharks
4,March 2026,Sunday 22nd March,15:00,Leicester Tigers,Bristol Bears
5,March 2026,Friday 27th March,19:45,Newcastle Red Bulls,Exeter
6,March 2026,Saturday 28th March,13:00,Gloucester,Leicester Tigers
7,March 2026,Saturday 28th March,15:30,Bristol Bears,Harlequins
8,March 2026,Saturday 28th March,18:00,Saracens,Northampton
9,March 2026,Sunday 29th March,15:00,Sale Sharks,Bath
10,April 2026,Friday 17th April,19:45,Bristol Bears,Gloucester
11,April 2026,Saturday 18th April,15:00,Leicester Tigers,Newcastle Red Bulls
12,April 2026,Saturday 18th April,15:05,Exeter,Northampton
13,April 2026,Saturday 18th April,17:30,Bath,Harlequins
14,April 2026,Sunday 19th April,15:00,Sale Sharks,Saracens
15,April 2026,Friday 24th April,19:45,Newcastle Red Bulls,Bristol Bears
16,April 2026,Saturday 25th April,15:00,Harlequins,Sale Sharks
17,April 2026,Saturday 25th April,15:05,Saracens,Leicester Tigers
18,April 2026,Saturday 25th April,17:30,Northampton,Bath
19,April 2026,Sunday 26th April,15:00,Gloucester,Exeter
20,May 2026,Friday 8th May,19:45,Gloucester,Sale Sharks
21,May 2026,Saturday 9th May,15:05,Leicester Tigers,Northampton
22,May 2026,Saturday 9th May,17:30,Bristol Bears,Saracens
23,May 2026,Sunday 10th May,15:00,Exeter,Bath
24,May 2026,Sunday 10th May,15:00,Newcastle Red Bulls,Harlequins
25,May 2026,Friday 15th May,19:45,Northampton,Bristol Bears
26,May 2026,Saturday 16th May,15:00,Bath,Newcastle Red Bulls
27,May 2026,Saturday 16th May,16:00,Harlequins,Exeter
28,May 2026,Saturday 16th May,18:30,Saracens,Gloucester
29,May 2026,Sunday 17th May,15:00,Sale Sharks,Leicester Tigers
30,May 2026,Friday 29th May,19:45,Bristol Bears,Bath
31,May 2026,Saturday 30th May,13:00,Saracens,Harlequins
32,May 2026,Saturday 30th May,15:00,Northampton,Gloucester
33,May 2026,Saturday 30th May,19:45,Newcastle Red Bulls,Sale Sharks
34,May 2026,Sunday 31st May,15:30,Leicester Tigers,Exeter
35,June 2026,Saturday 6th June,15:00,Bath,Leicester Tigers
36,June 2026,Saturday 6th June,15:00,Exeter,Saracens
37,June 2026,Saturday 6th June,15:00,Gloucester,Newcastle Red Bulls
38,June 2026,Saturday 6th June,15:00,Harlequins,Northampton
39,June 2026,Saturday 6th June,15:00,Sale Sharks,Bristol Bears

## 4. Get this season (2025/26) and last season (2024/25) results
#### Again, no API available here. Will do web scraping from https://www.skysports.com/rugby-union/competitions/gallagher-prem/results/2025-26 and previous seasons.

In [9]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from datetime import datetime

def scrape_sky_sports_results(url, season_label):
    headers = {
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64)"
    }
    response = requests.get(url, headers=headers)
    response.raise_for_status()
    soup = BeautifulSoup(response.text, "html.parser")
    
    container = soup.find("div", class_="fixres__body")
    if not container:
        print(f"No results container found at {url}")
        return pd.DataFrame()
    
    month = None
    date_text = None
    
    rows = []
    
    for elem in container.children:
        if not hasattr(elem, "name"):
            continue
        
        # Month header
        if elem.name == "h3" and "fixres__header1" in elem.get("class", []):
            month = elem.get_text(strip=True)
        
        # Date header
        elif elem.name == "h4" and "fixres__header2" in elem.get("class", []):
            date_text = elem.get_text(strip=True)
        
        # Match item
        elif elem.name == "div" and "fixres__item" in elem.get("class", []):
            home = elem.select_one("span.matches__participant--side1 span.swap-text__target")
            away = elem.select_one("span.matches__participant--side2 span.swap-text__target")
            
            # Scores appear in spans with class matches__teamscores-side
            scores = elem.select("span.matches__teamscores-side")
            if len(scores) >= 2:
                home_score = scores[0].get_text(strip=True)
                away_score = scores[1].get_text(strip=True)
            else:
                # If no score found, treat as n/a
                home_score = None
                away_score = None
            
            # Clean text
            home_team = home.get_text(strip=True) if home else None
            away_team = away.get_text(strip=True) if away else None
            
            # Combine date and month into full date string
            full_date_str = f"{date_text} {month}"
            # Attempt to parse
            try:
                match_date = datetime.strptime(full_date_str, "%A %dth %B %Y")
            except Exception:
                try:
                    match_date = datetime.strptime(full_date_str, "%A %dnd %B %Y")
                except Exception:
                    match_date = full_date_str
            
            rows.append({
                "season": season_label,
                "date": match_date,
                "home_team": home_team,
                "home_score": home_score,
                "away_team": away_team,
                "away_score": away_score
            })
    
    return pd.DataFrame(rows)


# URLs and season labels
urls = [
    ("https://www.skysports.com/rugby-union/competitions/gallagher-prem/results/2025-26", "2025-26"),
    ("https://www.skysports.com/rugby-union/competitions/gallagher-prem/results/2024-25", "2024-25"),
    ("https://www.skysports.com/rugby-union/competitions/gallagher-prem/results/2023-24", "2023-24"),
]

# Scrape all
all_results = pd.concat(
    scrape_sky_sports_results(url, season) for url, season in urls
).reset_index(drop=True)

print(all_results.head())
print("Total past results:", len(all_results))

    season                                date    home_team home_score  \
0  2025-26  Saturday 24th January January 2026       Exeter          3
1  2025-26  Saturday 24th January January 2026     Saracens         73
2  2025-26  Saturday 24th January January 2026   Harlequins          7
3  2025-26  Saturday 24th January January 2026  Sale Sharks         29
4  2025-26    Friday 23rd January January 2026   Gloucester         26

             away_team away_score
0        Bristol Bears          8
1  Newcastle Red Bulls         14
2     Leicester Tigers         34
3          Northampton         43
4                 Bath         30
Total past results: 236

In [184]:
all_results.head()

    season       date    home_team home_score            away_team away_score
0  2025-26 2026-01-24       Exeter          3        Bristol Bears          8
1  2025-26 2026-01-24     Saracens         73  Newcastle Red Bulls         14
2  2025-26 2026-01-24   Harlequins          7     Leicester Tigers         34
3  2025-26 2026-01-24  Sale Sharks         29          Northampton         43
4  2025-26 2026-01-23   Gloucester         26                 Bath         30

In [13]:
import pandas as pd
from datetime import datetime

def clean_match_dates(df):
    # Remove duplicate month if it exists in the day string
    df['date_clean'] = df['date'].str.replace(r'(\b\w+)\s(\1\s\d{4})', r'\2', regex=True)
    
    # Try parsing to datetime
    def parse_date(d):
        try:
            return datetime.strptime(d, "%A %dth %B %Y")
        except:
            try:
                return datetime.strptime(d, "%A %dnd %B %Y")
            except:
                try:
                    return datetime.strptime(d, "%A %dst %B %Y")
                except:
                    try:
                        return datetime.strptime(d, "%A %drd %B %Y")
                    except:
                        return d  # fallback: leave as string
    
    df['date'] = df['date_clean'].apply(parse_date)
    df.drop(columns=['date_clean'], inplace=True)
    return df

# Apply to your past results DataFrame
all_results_fixed = clean_match_dates(all_results)
all_results_fixed.head()

    season       date    home_team home_score            away_team away_score
0  2025-26 2026-01-24       Exeter          3        Bristol Bears          8
1  2025-26 2026-01-24     Saracens         73  Newcastle Red Bulls         14
2  2025-26 2026-01-24   Harlequins          7     Leicester Tigers         34
3  2025-26 2026-01-24  Sale Sharks         29          Northampton         43
4  2025-26 2026-01-23   Gloucester         26                 Bath         30

In [23]:
# Sort by season and date just in case
all_results_fixed = all_results_fixed.sort_values(["season", "date"]).reset_index(drop=True)

# Seasons to remove playoffs from (previous 2 seasons)
previous_seasons = ['2024-25', '2023-24']

# Function to remove last N matches per season for specific seasons
def remove_playoffs_specific(df, seasons, playoff_count=3):
    result = []
    for season, group in df.groupby("season"):
        if season in seasons:
            result.append(group.iloc[:-playoff_count])
        else:
            result.append(group)
    return pd.concat(result).reset_index(drop=True)

# Apply
all_results_no_playoffs = remove_playoffs_specific(all_results_fixed, previous_seasons, playoff_count=3)

print("Total matches after removing playoffs from previous seasons:", len(all_results_no_playoffs))

Total matches after removing playoffs from previous seasons: 230

In [24]:
all_results_no_playoffs

,season,date,home_team,home_score,away_team,away_score
0,2023-24,2023-10-13,Bristol Bears,25,Leicester Tigers,14
1,2023-24,2023-10-14,Exeter,65,Saracens,10
2,2023-24,2023-10-14,Bath,34,Newcastle Red Bulls,26
3,2023-24,2023-10-14,Gloucester,29,Harlequins,28
4,2023-24,2023-10-15,Sale Sharks,20,Northampton,15
...,...,...,...,...,...,...
225,2025-26,2026-01-23,Gloucester,26,Bath,30
226,2025-26,2026-01-24,Exeter,3,Bristol Bears,8
227,2025-26,2026-01-24,Saracens,73,Newcastle Red Bulls,14
228,2025-26,2026-01-24,Harlequins,7,Leicester Tigers,34
229,2025-26,2026-01-24,Sale Sharks,29,Northampton,43

In [111]:
# Sort by date just to be safe
all_results_no_playoffs = all_results_no_playoffs.sort_values(["season", "date"]).reset_index(drop=True)

# Identify last 5 matches of the current season
current_season = '2025-26'
mask = all_results_no_playoffs['season'] == current_season
current_season_df = all_results_no_playoffs[mask]

# Drop last 5 matches of this season
trimmed_current_season = current_season_df.iloc[:-5]

# Keep all other seasons unchanged
all_other_seasons = all_results_no_playoffs[all_results_no_playoffs['season'] != current_season]

# Combine back
past_premiership_balanced = pd.concat([all_other_seasons, trimmed_current_season]).sort_values(["season", "date"]).reset_index(drop=True)

# Quick check
print("Total matches after trimming last 5 of current season:", len(all_results_balanced))

Total matches after trimming last 5 of current season: 225

In [112]:
past_premiership_balanced.tail()

,season,date,home_team,home_score,away_team,away_score
220,2025-26,2026-01-02,Bristol Bears,19,Sale Sharks,17
221,2025-26,2026-01-02,Newcastle Red Bulls,25,Gloucester,19
222,2025-26,2026-01-03,Bath,33,Exeter,26
223,2025-26,2026-01-03,Northampton,66,Harlequins,21
224,2025-26,2026-01-04,Leicester Tigers,36,Saracens,28

### I need tries and other breakdowns. Will do scraping from a different source.

In [209]:
import re

def scrape_match_stats(url):
    response = requests.get(url)
    if response.status_code != 200:
        print(f"Failed to load {url}")
        return None
    
    soup = BeautifulSoup(response.text, "html.parser")
    
    # Extract season from URL
    match = re.search(r'/premiership/(\d{4}-\d{4})/', url)
    season = match.group(1) if match else None
    
    # Team names
    team_tags = soup.select('a[data-testid="atom-participant-banner"] div.overflow-hidden')
    if len(team_tags) != 2:
        print(f"Couldn't find team names for {url}")
        return None
    
    home_team = team_tags[0].text.strip()
    away_team = team_tags[1].text.strip()
    
    # Team scores
    score_tags = soup.select('div[data-testid="team-match-header-score-atom-container"] div[data-testid="match-score-atom-score-content-box-score"]')
    if len(score_tags) == 2:
        home_score = int(score_tags[0].text.strip())
        away_score = int(score_tags[1].text.strip())
    else:
        home_score = away_score = None
    
    # Match date
    date_tag = soup.select_one('div[data-testid="molecule-match-header-top"] div.caption-2.text-neutral-05')
    if date_tag:
        date_text = date_tag.text.strip()
        match_date = date_text.split("/")[-1].strip() if "/" in date_text else None
    else:
        match_date = None
    
    # Stats rows
    stats_rows = soup.select('div[data-testid="molecule-team-action-row"]')
    stats_dict = {}
    
    for row in stats_rows:
        stat_name_tag = row.find('span')
        if not stat_name_tag:
            continue
        stat_name = stat_name_tag.text.strip()
        
        participants = row.select('div[data-testid="molecule-team-action-row-participant"]')
        if len(participants) != 2:
            continue
        
        home_val = int(participants[0].find('div', class_='caps-s6-fx').text.strip())
        away_val = int(participants[1].find('div', class_='caps-s6-fx').text.strip())
        
        stats_dict[stat_name] = [home_val, away_val]
    
    return {
        "season": season,
        "date": match_date,
        "home_team": home_team,
        "away_team": away_team,
        "home_score": home_score,
        "away_score": away_score,
        **stats_dict
    }

##### Generate list of URLs

In [194]:
season_match_ranges = {
    "2023-2024": {"start": 1457678, "end": 1457767},  # 90
    "2024-2025": {"start": 1548080, "end": 1548169},  # 90
    "2025-2026": {"start": 1628800, "end": 1628844},  # current season except last 5 matches
}


urls = []
season_counters = {s: 0 for s in season_match_ranges}

for _, row in all_results.iterrows():
    season = row["season"]
    start_year, end_year = season.split("-")
    season_str = f"{start_year}-20{end_year}"

    if season_str not in season_match_ranges:
        continue

    start = season_match_ranges[season_str]["start"]
    end = season_match_ranges[season_str]["end"]

    match_number = start + season_counters[season_str]

    # stop once season is full
    if match_number > end:
        continue

    url = (
        f"https://www.tntsports.co.uk/rugby/premiership/"
        f"{season_str}/live-match_mtc{match_number}/live.shtml"
    )

    urls.append(url)
    season_counters[season_str] += 1

urls

In [212]:
import time

all_matches_stats = []

total = len(urls)

for i, url in enumerate(urls, start=1):
    print(f"[{i}/{total}] Scraping: {url}")

    try:
        match = scrape_match_stats(url)

        if match:
            all_matches_stats.append(match)
            print(f"    âœ… Success: {match['home_team']} vs {match['away_team']}")
        else:
            print("    âš ï¸  No data returned")

    except Exception as e:
        print(f"    âŒ Error scraping {url}: {e}")

    # polite delay to avoid hammering the site
    time.sleep(1)

print("\nFinished scraping.")
print(f"Total successful matches: {len(all_matches_stats)}")

[1/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457678/live.shtml
    âœ… Success: Bristol Bears vs Leicester Tigers
[2/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457679/live.shtml
    âœ… Success: Exeter Chiefs vs Saracens
[3/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457680/live.shtml
    âœ… Success: Bath Rugby vs Newcastle Red Bulls
[4/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457681/live.shtml
    âœ… Success: Gloucester Rugby vs Harlequins
[5/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457682/live.shtml
    âœ… Success: Sale Sharks vs Northampton Saints
[6/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457683/live.shtml
    âœ… Success: Newcastle Red Bulls vs Gloucester Rugby
[7/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457684/live.shtml
    âœ… Success: Saracens vs Bath Rugby
[8/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457685/live.shtml
    âœ… Success: Northampton Saints vs Bristol Bears
[9/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457686/live.shtml
    âœ… Success: Leicester Tigers vs Sale Sharks
[10/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457687/live.shtml
    âœ… Success: Harlequins vs Exeter Chiefs
[11/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457688/live.shtml
    âœ… Success: Gloucester Rugby vs Saracens
[12/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457689/live.shtml
    âœ… Success: Bristol Bears vs Harlequins
[13/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457690/live.shtml
    âœ… Success: Exeter Chiefs vs Sale Sharks
[14/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457691/live.shtml
    âœ… Success: Bath Rugby vs Leicester Tigers
[15/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457692/live.shtml
    âœ… Success: Newcastle Red Bulls vs Northampton Saints
[16/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457693/live.shtml
    âœ… Success: Sale Sharks vs Gloucester Rugby
[17/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457694/live.shtml
    âœ… Success: Harlequins vs Newcastle Red Bulls
[18/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457695/live.shtml
    âœ… Success: Northampton Saints vs Bath Rugby
[19/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457696/live.shtml
    âœ… Success: Saracens vs Leicester Tigers
[20/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457697/live.shtml
    âœ… Success: Exeter Chiefs vs Bristol Bears
[21/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457698/live.shtml
    âœ… Success: Gloucester Rugby vs Bath Rugby
[22/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457699/live.shtml
    âœ… Success: Bristol Bears vs Sale Sharks
[23/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457700/live.shtml
    âœ… Success: Leicester Tigers vs Harlequins
[24/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457701/live.shtml
    âœ… Success: Newcastle Red Bulls vs Saracens
[25/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457702/live.shtml
    âœ… Success: Northampton Saints vs Exeter Chiefs
[26/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457703/live.shtml
    âœ… Success: Bath Rugby vs Bristol Bears
[27/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457704/live.shtml
    âœ… Success: Sale Sharks vs Newcastle Red Bulls
[28/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457705/live.shtml
    âœ… Success: Leicester Tigers vs Northampton Saints
[29/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457706/live.shtml
    âœ… Success: Harlequins vs Saracens
[30/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457707/live.shtml
    âœ… Success: Exeter Chiefs vs Gloucester Rugby
[31/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457708/live.shtml
    âœ… Success: Northampton Saints vs Harlequins
[32/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457709/live.shtml
    âœ… Success: Sale Sharks vs Bath Rugby
[33/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457710/live.shtml
    âœ… Success: Saracens vs Bristol Bears
[34/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457711/live.shtml
    âœ… Success: Gloucester Rugby vs Leicester Tigers
[35/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457712/live.shtml
    âœ… Success: Newcastle Red Bulls vs Exeter Chiefs
[36/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457713/live.shtml
    âœ… Success: Harlequins vs Sale Sharks
[37/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457714/live.shtml
    âœ… Success: Bath Rugby vs Exeter Chiefs
[38/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457715/live.shtml
    âœ… Success: Bristol Bears vs Gloucester Rugby
[39/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457716/live.shtml
    âœ… Success: Saracens vs Northampton Saints
[40/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457717/live.shtml
    âœ… Success: Leicester Tigers vs Newcastle Red Bulls
[41/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457718/live.shtml
    âœ… Success: Newcastle Red Bulls vs Bristol Bears
[42/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457719/live.shtml
    âœ… Success: Sale Sharks vs Saracens
[43/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457720/live.shtml
    âœ… Success: Exeter Chiefs vs Leicester Tigers
[44/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457721/live.shtml
    âœ… Success: Gloucester Rugby vs Northampton Saints
[45/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457722/live.shtml
    âœ… Success: Bath Rugby vs Harlequins
[46/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457723/live.shtml
    âœ… Success: Bristol Bears vs Exeter Chiefs
[47/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457724/live.shtml
    âœ… Success: Saracens vs Newcastle Red Bulls
[48/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457725/live.shtml
    âœ… Success: Northampton Saints vs Sale Sharks
[49/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457726/live.shtml
    âœ… Success: Harlequins vs Gloucester Rugby
[50/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457727/live.shtml
    âœ… Success: Leicester Tigers vs Bath Rugby
[51/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457728/live.shtml
    âœ… Success: Sale Sharks vs Bristol Bears
[52/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457729/live.shtml
    âœ… Success: Newcastle Red Bulls vs Harlequins
[53/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457730/live.shtml
    âœ… Success: Exeter Chiefs vs Northampton Saints
[54/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457731/live.shtml
    âœ… Success: Leicester Tigers vs Saracens
[55/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457732/live.shtml
    âœ… Success: Bath Rugby vs Gloucester Rugby
[56/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457733/live.shtml
    âœ… Success: Northampton Saints vs Newcastle Red Bulls
[57/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457734/live.shtml
    âœ… Success: Saracens vs Exeter Chiefs
[58/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457735/live.shtml
    âœ… Success: Bristol Bears vs Bath Rugby
[59/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457736/live.shtml
    âœ… Success: Gloucester Rugby vs Sale Sharks
[60/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457737/live.shtml
    âœ… Success: Harlequins vs Leicester Tigers
[61/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457738/live.shtml
    âœ… Success: Saracens vs Harlequins
[62/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457739/live.shtml
    âœ… Success: Bath Rugby vs Sale Sharks
[63/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457740/live.shtml
    âœ… Success: Bristol Bears vs Northampton Saints
[64/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457741/live.shtml
    âœ… Success: Exeter Chiefs vs Newcastle Red Bulls
[65/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457742/live.shtml
    âœ… Success: Leicester Tigers vs Gloucester Rugby
[66/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457743/live.shtml
    âœ… Success: Gloucester Rugby vs Bristol Bears
[67/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457744/live.shtml
    âœ… Success: Harlequins vs Bath Rugby
[68/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457745/live.shtml
    âœ… Success: Newcastle Red Bulls vs Leicester Tigers
[69/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457746/live.shtml
    âœ… Success: Northampton Saints vs Saracens
[70/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457747/live.shtml
    âœ… Success: Sale Sharks vs Exeter Chiefs
[71/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457748/live.shtml
    âœ… Success: Exeter Chiefs vs Bath Rugby
[72/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457749/live.shtml
    âœ… Success: Northampton Saints vs Leicester Tigers
[73/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457750/live.shtml
    âœ… Success: Sale Sharks vs Harlequins
[74/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457751/live.shtml
    âœ… Success: Saracens vs Gloucester Rugby
[75/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457752/live.shtml
    âœ… Success: Bristol Bears vs Newcastle Red Bulls
[76/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457753/live.shtml
    âœ… Success: Harlequins vs Northampton Saints
[77/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457754/live.shtml
    âœ… Success: Leicester Tigers vs Bristol Bears
[78/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457755/live.shtml
    âœ… Success: Newcastle Red Bulls vs Sale Sharks
[79/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457756/live.shtml
    âœ… Success: Bath Rugby vs Saracens
[80/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457757/live.shtml
    âœ… Success: Gloucester Rugby vs Exeter Chiefs
[81/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457758/live.shtml
    âœ… Success: Northampton Saints vs Gloucester Rugby
[82/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457759/live.shtml
    âœ… Success: Sale Sharks vs Leicester Tigers
[83/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457760/live.shtml
    âœ… Success: Bristol Bears vs Saracens
[84/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457761/live.shtml
    âœ… Success: Exeter Chiefs vs Harlequins
[85/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457762/live.shtml
    âœ… Success: Newcastle Red Bulls vs Bath Rugby
[86/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457763/live.shtml
    âœ… Success: Bath Rugby vs Northampton Saints
[87/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457764/live.shtml
    âœ… Success: Gloucester Rugby vs Newcastle Red Bulls
[88/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457765/live.shtml
    âœ… Success: Harlequins vs Bristol Bears
[89/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457766/live.shtml
    âœ… Success: Leicester Tigers vs Exeter Chiefs
[90/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2023-2024/live-match_mtc1457767/live.shtml
    âœ… Success: Saracens vs Sale Sharks
[91/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2024-2025/live-match_mtc1548080/live.shtml
    âœ… Success: Newcastle Red Bulls vs Bristol Bears
[92/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2024-2025/live-match_mtc1548081/live.shtml
    âœ… Success: Bath Rugby vs Northampton Saints
[93/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2024-2025/live-match_mtc1548082/live.shtml
    âœ… Success: Exeter Chiefs vs Leicester Tigers
[94/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2024-2025/live-match_mtc1548083/live.shtml
    âœ… Success: Gloucester Rugby vs Saracens
[95/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2024-2025/live-match_mtc1548084/live.shtml
    âœ… Success: Sale Sharks vs Harlequins
[96/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2024-2025/live-match_mtc1548085/live.shtml
    âœ… Success: Bristol Bears vs Gloucester Rugby
[97/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2024-2025/live-match_mtc1548086/live.shtml
    âœ… Success: Harlequins vs Newcastle Red Bulls
[98/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2024-2025/live-match_mtc1548087/live.shtml
    âœ… Success: Saracens vs Sale Sharks
[99/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2024-2025/live-match_mtc1548088/live.shtml
    âœ… Success: Northampton Saints vs Exeter Chiefs
[100/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2024-2025/live-match_mtc1548089/live.shtml
    âœ… Success: Leicester Tigers vs Bath Rugby
[101/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2024-2025/live-match_mtc1548090/live.shtml
    âœ… Success: Northampton Saints vs Harlequins
[102/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2024-2025/live-match_mtc1548091/live.shtml
    âœ… Success: Sale Sharks vs Gloucester Rugby
[103/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2024-2025/live-match_mtc1548092/live.shtml
    âœ… Success: Bath Rugby vs Bristol Bears
[104/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2024-2025/live-match_mtc1548093/live.shtml
    âœ… Success: Newcastle Red Bulls vs Leicester Tigers
[105/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2024-2025/live-match_mtc1548094/live.shtml
    âœ… Success: Saracens vs Exeter Chiefs
[106/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2024-2025/live-match_mtc1548095/live.shtml
    âœ… Success: Sale Sharks vs Newcastle Red Bulls
[107/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2024-2025/live-match_mtc1548096/live.shtml
    âœ… Success: Exeter Chiefs vs Bristol Bears
[108/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2024-2025/live-match_mtc1548097/live.shtml
    âœ… Success: Gloucester Rugby vs Bath Rugby
[109/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2024-2025/live-match_mtc1548098/live.shtml
    âœ… Success: Leicester Tigers vs Northampton Saints
[110/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2024-2025/live-match_mtc1548099/live.shtml
    âœ… Success: Harlequins vs Saracens
[111/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2024-2025/live-match_mtc1548100/live.shtml
    âœ… Success: Newcastle Red Bulls vs Exeter Chiefs
[112/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2024-2025/live-match_mtc1548101/live.shtml
    âœ… Success: Northampton Saints vs Sale Sharks
[113/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2024-2025/live-match_mtc1548102/live.shtml
    âœ… Success: Bristol Bears vs Saracens
[114/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2024-2025/live-match_mtc1548103/live.shtml
    âœ… Success: Harlequins vs Bath Rugby
[115/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2024-2025/live-match_mtc1548104/live.shtml
    âœ… Success: Leicester Tigers vs Gloucester Rugby
[116/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2024-2025/live-match_mtc1548105/live.shtml
    âœ… Success: Bristol Bears vs Northampton Saints
[117/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2024-2025/live-match_mtc1548106/live.shtml
    âœ… Success: Gloucester Rugby vs Newcastle Red Bulls
[118/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2024-2025/live-match_mtc1548107/live.shtml
    âœ… Success: Bath Rugby vs Sale Sharks
[119/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2024-2025/live-match_mtc1548108/live.shtml
    âœ… Success: Saracens vs Leicester Tigers
[120/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2024-2025/live-match_mtc1548109/live.shtml
    âœ… Success: Exeter Chiefs vs Harlequins
[121/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2024-2025/live-match_mtc1548110/live.shtml
    âœ… Success: Harlequins vs Bristol Bears
[122/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2024-2025/live-match_mtc1548111/live.shtml
    âœ… Success: Newcastle Red Bulls vs Saracens
[123/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2024-2025/live-match_mtc1548112/live.shtml
    âœ… Success: Northampton Saints vs Gloucester Rugby
[124/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2024-2025/live-match_mtc1548113/live.shtml
    âœ… Success: Bath Rugby vs Exeter Chiefs
[125/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2024-2025/live-match_mtc1548114/live.shtml
    âœ… Success: Sale Sharks vs Leicester Tigers
[126/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2024-2025/live-match_mtc1548115/live.shtml
    âœ… Success: Gloucester Rugby vs Harlequins
[127/225] Scraping: https://www.tntsports.co.uk/rugby/premiership/2024-2025/live-match_mtc1548116/live.shtml
    âœ… Success: Leicester Tigers vs Bristol Bears

In [213]:
# Convert list of dicts to DataFrame
df_matches = pd.DataFrame(all_matches_stats)
df_matches.head()

,season,date,home_team,away_team,home_score,away_score,Tries,Conversions,Penalties,Drops
0,2023-2024,13.10.2023,Bristol Bears,Leicester Tigers,25,14,"[3, 2]","[2, 2]","[2, 0]","[0, 0]"
1,2023-2024,14.10.2023,Exeter Chiefs,Saracens,65,10,"[11, 2]","[5, 0]","[0, 0]","[0, 0]"
2,2023-2024,14.10.2023,Bath Rugby,Newcastle Red Bulls,34,26,"[6, 3]","[2, 1]","[0, 3]","[0, 0]"
3,2023-2024,14.10.2023,Gloucester Rugby,Harlequins,29,28,"[4, 3]","[3, 2]","[1, 3]","[0, 0]"
4,2023-2024,15.10.2023,Sale Sharks,Northampton Saints,20,15,"[3, 2]","[1, 1]","[1, 1]","[0, 0]"

In [214]:
# Convert list of dicts to DataFrame
df_matches = pd.DataFrame(all_matches_stats)

# Split stats lists into separate home/away columns
for stat in ['Tries', 'Conversions', 'Penalties', 'Drops']:
    df_matches[[f'{stat}_home', f'{stat}_away']] = pd.DataFrame(df_matches[stat].tolist(), index=df_matches.index)
    df_matches.drop(columns=[stat], inplace=True)

# Reorder columns
df_matches = df_matches[
    ['season', 'date', 'home_team', 'away_team', 
     'home_score', 'away_score',
     'Tries_home', 'Tries_away',
     'Conversions_home', 'Conversions_away',
     'Penalties_home', 'Penalties_away',
     'Drops_home', 'Drops_away']
]

# Save to CSV
df_matches.to_csv('rugby_matches_stats.csv', index=False)

df_matches['season'].value_counts().sort_index().head()

,season,date,home_team,away_team,home_score,away_score,Tries_home,Tries_away,Conversions_home,Conversions_away,Penalties_home,Penalties_away,Drops_home,Drops_away
0,2023-2024,13.10.2023,Bristol Bears,Leicester Tigers,25,14,3,2,2,2,2,0,0,0
1,2023-2024,14.10.2023,Exeter Chiefs,Saracens,65,10,11,2,5,0,0,0,0,0
2,2023-2024,14.10.2023,Bath Rugby,Newcastle Red Bulls,34,26,6,3,2,1,0,3,0,0
3,2023-2024,14.10.2023,Gloucester Rugby,Harlequins,29,28,4,3,3,2,1,3,0,0
4,2023-2024,15.10.2023,Sale Sharks,Northampton Saints,20,15,3,2,1,1,1,1,0,0

##### Some basic quality checks

In [217]:
df_matches['season'].value_counts().sort_index()

season
2023-2024    90
2024-2025    90
2025-2026    45
Name: count, dtype: int64

In [218]:
# Count home matches
home_counts = df_matches['home_team'].value_counts()

# Count away matches
away_counts = df_matches['away_team'].value_counts()

# Combine them
total_counts = home_counts.add(away_counts, fill_value=0).astype(int).sort_values(ascending=False)

print(total_counts)

Bath Rugby             45
Bristol Bears          45
Exeter Chiefs          45
Gloucester Rugby       45
Harlequins             45
Leicester Tigers       45
Newcastle Red Bulls    45
Northampton Saints     45
Sale Sharks            45
Saracens               45
Name: count, dtype: int32

## 5. Combine and calculate probabilities of TRIES, CONVERSIONS, PENALTIES, TRY BONUS POINT, & LOSING BONUS POINT

In [225]:
past_premierships = df_matches.copy()

In [226]:
# Add weights: more recent games = more weight
past_premierships["weight"] = np.linspace(1, 2, len(past_premierships))  # simple linear weighting

In [227]:
past_premierships.tail()

,season,date,home_team,away_team,home_score,away_score,Tries_home,Tries_away,Conversions_home,Conversions_away,Penalties_home,Penalties_away,Drops_home,Drops_away,weight
220,2025-2026,02.01.2026,Bristol Bears,Sale Sharks,19,17,3,2,2,2,0,1,0,0,1.982143
221,2025-2026,02.01.2026,Newcastle Red Bulls,Gloucester Rugby,25,19,3,3,2,2,2,0,0,0,1.986607
222,2025-2026,03.01.2026,Bath Rugby,Exeter Chiefs,33,26,5,4,4,3,0,0,0,0,1.991071
223,2025-2026,03.01.2026,Northampton Saints,Harlequins,66,21,10,3,8,3,0,0,0,0,1.995536
224,2025-2026,04.01.2026,Leicester Tigers,Saracens,36,28,5,4,4,4,1,0,0,0,2.000000

In [240]:
home_advantage_tries = past_premierships['Tries_home'].mean() - past_premierships['Tries_away'].mean()
print("Home advantage (average tries):", home_advantage_tries)

home_advantage_penalties = past_premierships['Penalties_home'].mean() - past_premierships['Penalties_away'].mean()
print("Home advantage (average penalties):", home_advantage_penalties)      
# NO HOME ADVANTAGE FOR PENALTIES. Value is small and even negative, will be ignored.

Home advantage (average tries): 1.1511111111111108
Home advantage (average penalties): -0.06222222222222218

In [245]:
import pandas as pd

# All teams
teams = pd.unique(past_premierships[["home_team", "away_team"]].values.ravel("K"))

# Initialize
team_stats = {}
attack_points = pd.Series(1.0, index=teams)
defense_points = pd.Series(1.0, index=teams)
attack_tries = pd.Series(1.0, index=teams)
defense_tries = pd.Series(1.0, index=teams)

for team in teams:
    home_games = past_premierships[past_premierships["home_team"] == team]
    away_games = past_premierships[past_premierships["away_team"] == team]

    # Points scored/conceded
    points_scored = (home_games["home_score"]*home_games["weight"]).sum() + \
                    (away_games["away_score"]*away_games["weight"]).sum()
    points_conceded = (home_games["away_score"]*home_games["weight"]).sum() + \
                      (away_games["home_score"]*away_games["weight"]).sum()

    # Tries scored/conceded
    tries_scored = (home_games["Tries_home"]*home_games["weight"]).sum() + \
                   (away_games["Tries_away"]*away_games["weight"]).sum()
    tries_conceded = (home_games["Tries_away"]*home_games["weight"]).sum() + \
                     (away_games["Tries_home"]*away_games["weight"]).sum()

    # Weighted matches
    matches = home_games["weight"].sum() + away_games["weight"].sum()

    # Save per game stats
    team_stats[team] = {
        "points_scored_per_game": points_scored/matches,
        "points_conceded_per_game": points_conceded/matches,
        "tries_scored_per_game": tries_scored/matches,
        "tries_conceded_per_game": tries_conceded/matches
    }

# Total points and tries
total_points = past_premierships["home_score"].sum() + past_premierships["away_score"].sum()
total_tries  = past_premierships["Tries_home"].sum() + past_premierships["Tries_away"].sum()
# Total games (each row = 1 game)
total_games = len(past_premierships)
# League average per team per game
league_avg_points = total_points / (2 * total_games)
league_avg_tries  = total_tries / (2 * total_games)

# Relative scores
for team in teams:
    attack_points[team] = team_stats[team]["points_scored_per_game"]/league_avg_points
    defense_points[team] = team_stats[team]["points_conceded_per_game"]/league_avg_points
    attack_tries[team] = team_stats[team]["tries_scored_per_game"]/league_avg_tries
    defense_tries[team] = team_stats[team]["tries_conceded_per_game"]/league_avg_tries

# Weighted conversion rate per team
teams_conv = pd.concat([
    past_premierships[['home_team','Tries_home','Conversions_home','weight']].rename(
        columns={'home_team':'team','Tries_home':'tries','Conversions_home':'conversions'}
    ),
    past_premierships[['away_team','Tries_away','Conversions_away','weight']].rename(
        columns={'away_team':'team','Tries_away':'tries','Conversions_away':'conversions'}
    )
])
team_conversion = teams_conv.groupby('team').apply(
    lambda x: (x['conversions']*x['weight']).sum() / (x['tries']*x['weight']).sum()
)

# Weighted penalties/drops per game
teams_stats = pd.concat([
    past_premierships[['home_team','Penalties_home','Drops_home','weight']].rename(
        columns={'home_team':'team','Penalties_home':'penalties','Drops_home':'drops'}
    ),
    past_premierships[['away_team','Penalties_away','Drops_away','weight']].rename(
        columns={'away_team':'team','Penalties_away':'penalties','Drops_away':'drops'}
    )
])
team_penalty_drop = teams_stats.groupby('team').apply(lambda x: pd.Series({
    'penalties_per_game': (x['penalties']*x['weight']).sum()/x['weight'].sum(),
    'drops_per_game': (x['drops']*x['weight']).sum()/x['weight'].sum()
}))

# Combine all into one DataFrame
team_strengths = pd.DataFrame({
    "attack_points": attack_points,
    "defense_points": defense_points,
    "attack_tries": attack_tries,
    "defense_tries": defense_tries,
    "conversion_rate": team_conversion
}).join(team_penalty_drop)

team_strengths = team_strengths.sort_values("attack_points", ascending=False)
team_strengths

C:\Users\vicky\AppData\Local\Temp\ipykernel_8736\1966644049.py:65: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  team_conversion = teams_conv.groupby('team').apply(
C:\Users\vicky\AppData\Local\Temp\ipykernel_8736\1966644049.py:78: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  team_penalty_drop = teams_stats.groupby('team').apply(lambda x: pd.Series({

,attack_points,defense_points,attack_tries,defense_tries,conversion_rate,penalties_per_game,drops_per_game
Bristol Bears,1.233963,1.035206,1.291643,1.048457,0.743870,0.760861,0.000000
Bath Rugby,1.219177,0.849226,1.256366,0.833847,0.752044,0.622504,0.018842
Northampton Saints,1.150901,1.005165,1.158368,1.016774,0.755482,0.770406,0.040812
Saracens,1.111826,0.908474,1.124291,0.893809,0.650784,1.022867,0.071971
Leicester Tigers,1.024814,0.884845,0.972191,0.850438,0.754449,1.215645,0.045719
Sale Sharks,0.996541,0.905119,0.953807,0.882135,0.729418,1.157930,0.111729
Exeter Chiefs,0.958383,0.925987,0.972519,0.921898,0.737683,0.777800,0.000000
Gloucester Rugby,0.958341,1.124219,1.007253,1.142476,0.704966,0.552203,0.000000
Harlequins,0.891182,1.096029,0.906493,1.118217,0.760148,0.708656,0.017986
Newcastle Red Bulls,0.579587,1.391180,0.542903,1.478593,0.748248,0.775167,0.022106

## Model each component with Poisson

In [246]:
import numpy as np
from scipy.stats import poisson, binom

# ---------------------------
# POISSON FUNCTIONS FOR RUGBY MATCH
# ---------------------------

def simulate_tries(team_attack, opponent_defense, league_avg_tries):
    """
    Simulate number of tries scored by a team using Poisson.
    
    Parameters:
        team_attack: float, team's attack strength (relative)
        opponent_defense: float, opponent's defense strength (relative)
        league_avg_tries: float, average tries per team per game
    Returns:
        int, number of tries scored
    """
    lambda_tries = team_attack * opponent_defense * league_avg_tries
    return poisson.rvs(mu=lambda_tries)

def simulate_conversions(tries, conversion_rate):
    """
    Simulate number of conversions for a team using Binomial.
    
    Parameters:
        tries: int, number of tries scored
        conversion_rate: float, probability of converting a try
    Returns:
        int, number of successful conversions
    """
    if tries == 0:
        return 0
    return binom.rvs(n=tries, p=conversion_rate)

def simulate_penalties(penalties_per_game):
    """
    Simulate number of penalties scored using Poisson.
    
    Parameters:
        penalties_per_game: float, expected penalties per game
    Returns:
        int, penalties scored
    """
    return poisson.rvs(mu=penalties_per_game)

def simulate_drops(drops_per_game):
    """
    Simulate number of drop goals scored using Poisson.
    
    Parameters:
        drops_per_game: float, expected drop goals per game
    Returns:
        int, drop goals scored
    """
    return poisson.rvs(mu=drops_per_game)

def simulate_match(home_team_stats, away_team_stats, league_avg_tries):
    """
    Simulate a single match between two teams.
    
    Parameters:
        home_team_stats: dict with attack_tries, defense_tries, conversion_rate, penalties_per_game, drops_per_game
        away_team_stats: same as home_team_stats
        league_avg_tries: float, average tries per team per match
    Returns:
        dict with tries, conversions, penalties, drops, total_points for both teams
    """
    # Tries
    home_tries = simulate_tries(home_team_stats['attack_tries'], away_team_stats['defense_tries'], league_avg_tries)
    away_tries = simulate_tries(away_team_stats['attack_tries'], home_team_stats['defense_tries'], league_avg_tries)
    
    # Conversions
    home_conversions = simulate_conversions(home_tries, home_team_stats['conversion_rate'])
    away_conversions = simulate_conversions(away_tries, away_team_stats['conversion_rate'])
    
    # Penalties & Drops
    home_penalties = simulate_penalties(home_team_stats['penalties_per_game'])
    away_penalties = simulate_penalties(away_team_stats['penalties_per_game'])
    
    home_drops = simulate_drops(home_team_stats['drops_per_game'])
    away_drops = simulate_drops(away_team_stats['drops_per_game'])
    
    # Total points
    home_points = 5*home_tries + 2*home_conversions + 3*home_penalties + 3*home_drops
    away_points = 5*away_tries + 2*away_conversions + 3*away_penalties + 3*away_drops
    
    return {
        'home_tries': home_tries,
        'away_tries': away_tries,
        'home_conversions': home_conversions,
        'away_conversions': away_conversions,
        'home_penalties': home_penalties,
        'away_penalties': away_penalties,
        'home_drops': home_drops,
        'away_drops': away_drops,
        'home_points': home_points,
        'away_points': away_points
    }

## 7. Replace my estimates probabilities with the ones I have from odds, creating my final match probabilities

In [35]:
df_odds.head(2)

,utcDate,homeTeam,awayTeam,p_home_win,p_draw,p_away_win,home_norm,away_norm
0,2026-01-26T20:00:00Z,Everton FC,Leeds United FC,0.483798,0.25215,0.262731,everton,leeds united
1,2026-01-31T15:00:00Z,Brighton & Hove Albion FC,Everton FC,0.460659,0.25482,0.283332,brighton and hove albion,everton

In [36]:
betting_odds_avg.head(2)

,home_team,away_team,p_home_book,p_draw_book,p_away_book,home_norm,away_norm
0,Arsenal,Sunderland,0.759878,0.166518,0.073604,arsenal,sunderland
1,Brighton and Hove Albion,Everton,0.517599,0.258048,0.224353,brighton and hove albion,everton

In [37]:
df_final_probabilities = df_odds.merge(
    betting_odds_avg,
    left_on=["home_norm", "away_norm"],
    right_on=["home_norm", "away_norm"],
    how="left"
)

In [38]:
df_final_probabilities = df_final_probabilities[[
    "utcDate",
    "homeTeam",
    "awayTeam",
    "p_home_win",
    "p_draw",
    "p_away_win",
    "p_home_book",
    "p_draw_book",
    "p_away_book",
]]

df_final_probabilities

,utcDate,homeTeam,awayTeam,p_home_win,p_draw,p_away_win,p_home_book,p_draw_book,p_away_book
0,2026-01-26T20:00:00Z,Everton FC,Leeds United FC,0.483798,0.252150,0.262731,0.371258,0.301594,0.327148
1,2026-01-31T15:00:00Z,Brighton & Hove Albion FC,Everton FC,0.460659,0.254820,0.283332,0.517599,0.258048,0.224353
2,2026-01-31T15:00:00Z,Leeds United FC,Arsenal FC,0.164150,0.200730,0.629051,0.153816,0.231198,0.614986
3,2026-01-31T15:00:00Z,Wolverhampton Wanderers FC,AFC Bournemouth,0.264887,0.218474,0.511896,0.301451,0.264680,0.433869
4,2026-01-31T17:30:00Z,Chelsea FC,West Ham United FC,0.696273,0.168438,0.122443,0.630500,0.210900,0.158600
...,...,...,...,...,...,...,...,...,...
146,2026-05-24T15:00:00Z,Liverpool FC,Brentford FC,0.564042,0.197011,0.228989,NaN,NaN,NaN
147,2026-05-24T15:00:00Z,Manchester City FC,Aston Villa FC,0.575068,0.215298,0.205142,NaN,NaN,NaN
148,2026-05-24T15:00:00Z,Nottingham Forest FC,AFC Bournemouth,0.417804,0.236658,0.343129,NaN,NaN,NaN
149,2026-05-24T15:00:00Z,Tottenham Hotspur FC,Everton FC,0.419584,0.257934,0.321449,NaN,NaN,NaN
150,2026-05-24T15:00:00Z,West Ham United FC,Leeds United FC,0.384308,0.226959,0.385073,NaN,NaN,NaN

In [39]:
df_final_probabilities["p_home_final"] = np.where(
    df_final_probabilities["p_home_book"].notna(),
    df_final_probabilities["p_home_book"],
    df_final_probabilities["p_home_win"]
)

df_final_probabilities["p_draw_final"] = np.where(
    df_final_probabilities["p_draw_book"].notna(),
    df_final_probabilities["p_draw_book"],
    df_final_probabilities["p_draw"]
)

df_final_probabilities["p_away_final"] = np.where(
    df_final_probabilities["p_away_book"].notna(),
    df_final_probabilities["p_away_book"],
    df_final_probabilities["p_away_win"]
)

In [40]:
print("Used betting odds:", df_final_probabilities["p_home_book"].notna().sum())
print("Used model:", df_final_probabilities["p_home_book"].isna().sum())

Used betting odds: 21
Used model: 130

In [41]:
df_final_probabilities = df_final_probabilities[[
    "utcDate",
    "homeTeam",
    "awayTeam",
    "p_home_final",
    "p_draw_final",
    "p_away_final"
]]

In [42]:
df_final_probabilities

,utcDate,homeTeam,awayTeam,p_home_final,p_draw_final,p_away_final
0,2026-01-26T20:00:00Z,Everton FC,Leeds United FC,0.371258,0.301594,0.327148
1,2026-01-31T15:00:00Z,Brighton & Hove Albion FC,Everton FC,0.517599,0.258048,0.224353
2,2026-01-31T15:00:00Z,Leeds United FC,Arsenal FC,0.153816,0.231198,0.614986
3,2026-01-31T15:00:00Z,Wolverhampton Wanderers FC,AFC Bournemouth,0.301451,0.264680,0.433869
4,2026-01-31T17:30:00Z,Chelsea FC,West Ham United FC,0.630500,0.210900,0.158600
...,...,...,...,...,...,...
146,2026-05-24T15:00:00Z,Liverpool FC,Brentford FC,0.564042,0.197011,0.228989
147,2026-05-24T15:00:00Z,Manchester City FC,Aston Villa FC,0.575068,0.215298,0.205142
148,2026-05-24T15:00:00Z,Nottingham Forest FC,AFC Bournemouth,0.417804,0.236658,0.343129
149,2026-05-24T15:00:00Z,Tottenham Hotspur FC,Everton FC,0.419584,0.257934,0.321449
150,2026-05-24T15:00:00Z,West Ham United FC,Leeds United FC,0.384308,0.226959,0.385073

In [43]:
df_final_probabilities["homeTeam"].unique()

array(['Everton FC', 'Brighton & Hove Albion FC', 'Leeds United FC',
       'Wolverhampton Wanderers FC', 'Chelsea FC', 'Liverpool FC',
       'Aston Villa FC', 'Manchester United FC', 'Nottingham Forest FC',
       'Tottenham Hotspur FC', 'Sunderland AFC', 'AFC Bournemouth',
       'Arsenal FC', 'Burnley FC', 'Fulham FC', 'Newcastle United FC',
       'West Ham United FC', 'Crystal Palace FC', 'Manchester City FC',
       'Brentford FC'], dtype=object)

In [44]:
name_map = {
    "Aston Villa FC": "Aston Villa",
    "Brighton & Hove Albion FC": "Brighton & Hove Albion",
    "AFC Bournemouth": "AFC Bournemouth",   # keep as is
    "Bournemouth": "AFC Bournemouth",
    "Sunderland AFC": "Sunderland",
    "Newcastle United FC": "Newcastle United",
    "Manchester City FC": "Manchester City",
    "Manchester United FC": "Manchester United",
    "West Ham United FC": "West Ham United",
    "Wolverhampton Wanderers FC": "Wolverhampton Wanderers",
    "Tottenham Hotspur FC": "Tottenham Hotspur",
    "Crystal Palace FC": "Crystal Palace",
    "Brentford FC": "Brentford",
    "Everton FC": "Everton",
    "Leeds United FC": "Leeds United",
    "Chelsea FC": "Chelsea",
    "Liverpool FC": "Liverpool",
    "Nottingham Forest FC": "Nottingham Forest",
    "Burnley FC": "Burnley",
    "Fulham FC": "Fulham",
    "Arsenal FC": "Arsenal"
}

df_final_probabilities["home_team_norm"] = df_final_probabilities["homeTeam"].replace(name_map)
df_final_probabilities["away_team_norm"] = df_final_probabilities["awayTeam"].replace(name_map)

premierleague["team_norm"] = premierleague["team"].replace({
    "Brighton & Hove Albion": "Brighton & Hove Albion",
    "AFC Bournemouth": "AFC Bournemouth"
})

[01/26/26 10:11:46] WARNING  C:\Users\vicky\AppData\Local\Temp\ipykernel_11340\2477332962.py:25:    ]8;id=460485;file://C:\ProgramData\anaconda3\Lib\warnings.py\warnings.py]8;;\:]8;id=350144;file://C:\ProgramData\anaconda3\Lib\warnings.py#112\112]8;;\
                             SettingWithCopyWarning:
                             A value is trying to be set on a copy of a slice from a DataFrame.
                             Try using .loc = value instead

                             See the caveats in the documentation:
                             https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#
                             returning-a-view-versus-a-copy
                               df_final_probabilities["home_team_norm"] =
                             df_final_probabilities["homeTeam"].replace(name_map)

                    WARNING  C:\Users\vicky\AppData\Local\Temp\ipykernel_11340\2477332962.py:26:    ]8;id=869731;file://C:\ProgramData\anaconda3\Lib\warnings.py\warnings.py]8;;\:]8;id=210437;file://C:\ProgramData\anaconda3\Lib\warnings.py#112\112]8;;\
                             SettingWithCopyWarning:
                             A value is trying to be set on a copy of a slice from a DataFrame.
                             Try using .loc = value instead

                             See the caveats in the documentation:
                             https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#
                             returning-a-view-versus-a-copy
                               df_final_probabilities["away_team_norm"] =
                             df_final_probabilities["awayTeam"].replace(name_map)

In [45]:
df_simulation = df_final_probabilities.copy()

In [46]:
# Normalize probabilities so they sum to 1
prob_cols = ["p_home_final", "p_draw_final", "p_away_final"]
df_simulation[prob_cols] = df_simulation[prob_cols].div(df_simulation[prob_cols].sum(axis=1), axis=0)

In [47]:
df_simulation.head()

,utcDate,homeTeam,awayTeam,p_home_final,p_draw_final,p_away_final,home_team_norm,away_team_norm
0,2026-01-26T20:00:00Z,Everton FC,Leeds United FC,0.371258,0.301594,0.327148,Everton,Leeds United
1,2026-01-31T15:00:00Z,Brighton & Hove Albion FC,Everton FC,0.517599,0.258048,0.224353,Brighton & Hove Albion,Everton
2,2026-01-31T15:00:00Z,Leeds United FC,Arsenal FC,0.153816,0.231198,0.614986,Leeds United,Arsenal
3,2026-01-31T15:00:00Z,Wolverhampton Wanderers FC,AFC Bournemouth,0.301451,0.264680,0.433869,Wolverhampton Wanderers,AFC Bournemouth
4,2026-01-31T17:30:00Z,Chelsea FC,West Ham United FC,0.630500,0.210900,0.158600,Chelsea,West Ham United

## 8. Run simulations to build the Premier League table probabilities

In [48]:
def simulate_once(fixtures, table):
    table_sim = table.copy()

    # Use normalized team name column
    points = dict(zip(table_sim["team_norm"], table_sim["pts"]))

    for _, row in fixtures.iterrows():
        home = row["home_team_norm"]
        away = row["away_team_norm"]

        # choose outcome
        probs = [row["p_home_final"], row["p_draw_final"], row["p_away_final"]]
        outcome = np.random.choice(["H", "D", "A"], p=probs)

        if outcome == "H":
            points[home] += 3
        elif outcome == "D":
            points[home] += 1
            points[away] += 1
        else:
            points[away] += 3

    result_df = table_sim.copy()
    result_df["pts"] = result_df["team_norm"].map(points)

    # sort by points and goal difference
    result_df = result_df.sort_values(["pts", "gd"], ascending=[False, False])
    result_df["position"] = np.arange(1, len(result_df)+1)

    return result_df


def run_simulations(fixtures, table, n_sim=10000):
    position_counts = {team: np.zeros(len(table)) for team in table["team_norm"]}

    for _ in range(n_sim):
        final_table = simulate_once(fixtures, table)

        for _, row in final_table.iterrows():
            position_counts[row["team_norm"]][row["position"]-1] += 1

    pos_df = pd.DataFrame(position_counts, index=np.arange(1, len(table)+1))
    pos_df.index.name = "position"
    return pos_df

In [49]:
# RUN
position_distribution = run_simulations(df_simulation, premierleague, n_sim=20000)

In [50]:
position_distribution.index.name = "TEAM"
position_distribution_t = position_distribution.T

In [51]:
position_distribution_pct = position_distribution_t.div(
    position_distribution_t.sum(axis=1),
    axis=0
) * 100

## 9. Preview and present the results graphically

In [52]:
# Build label mapping: "position  team" (extra space for 1-9)
team_labels = (
    premierleague[["team", "position"]]
    .set_index("team")["position"]
    .map(lambda pos: f"{pos}{'  ' if pos < 10 else ' '}")
)

# Join position and team name into one label
team_labels = (
    premierleague[["team", "position"]]
    .assign(
        label=lambda df: df.apply(
            lambda r: f"{r['position']}{'&nbsp;&nbsp;&nbsp;&nbsp;' if r['position'] < 10 else '&nbsp;&nbsp;'}{r['team']}",
            axis=1
        )
    )
    .set_index("team")["label"]
)


# Apply labels to your table index
position_distribution_pct.index = position_distribution_pct.index.map(team_labels)

# Drop position column if present
position_distribution_pct = position_distribution_pct.drop(columns=["position"], errors="ignore")

# Remove index name
position_distribution_pct.index.name = None

In [73]:
greens = plt.cm.Greens
green_cmap = LinearSegmentedColormap.from_list(
    "Greens_soft",
    greens(np.linspace(0.03, 0.65, 256))
)

vmax = 25

def zero_style(val):
    if val < 0.005:
        return "background-color: white !important;"
    return ""

# ---- transform ONLY for colouring ----
color_data = position_distribution_pct.copy()
color_data = (color_data / vmax).pow(0.65) * vmax

position_distribution_pct.style \
    .background_gradient(
        cmap=green_cmap,
        vmin=0,
        vmax=vmax,
        gmap=color_data,
        axis=None          # ðŸ”‘ THIS FIXES THE ERROR
    ) \
    .applymap(zero_style) \
    .format("{:.2f}%") \
    .set_table_styles([
        {"selector": "th", "props": [
            ("background-color", "#e6edf4"),
            ("color", "#333"),
            ("text-align", "center"),
            ("font-family", "Inter, Roboto, Arial, sans-serif"),
            ("font-size", "13px"),
            ("font-weight", "600")
        ]},

        {"selector": "th.col_heading", "props": [
            ("text-align", "center")
        ]},

        {"selector": "th.row_heading", "props": [
            ("text-align", "left"),
            ("font-size", "13px"),
            ("font-weight", "600"),
            ("white-space", "nowrap"),
            ("max-width", "250px"),
            ("overflow", "hidden"),
            ("text-overflow", "ellipsis")
        ]},

        {"selector": "tr:nth-child(odd) th.row_heading", "props": [
            ("background-color", "#fbfcfe")
        ]},
        {"selector": "tr:nth-child(even) th.row_heading", "props": [
            ("background-color", "#e6edf4")
        ]},

        {"selector": "td", "props": [
            ("text-align", "center"),
            ("font-family", "Inter, Roboto, Arial, sans-serif"),
            ("font-size", "12px"),
            ("font-weight", "500"),
            ("color", "#000")
        ]}
    ])

[01/26/26 10:42:01] WARNING  C:\Users\vicky\AppData\Local\Temp\ipykernel_11340\2330607219.py:26:    ]8;id=670326;file://C:\ProgramData\anaconda3\Lib\warnings.py\warnings.py]8;;\:]8;id=50376;file://C:\ProgramData\anaconda3\Lib\warnings.py#112\112]8;;\
                             FutureWarning: Styler.applymap has been deprecated. Use Styler.map
                             instead.
                               .applymap(zero_style) \