## üìä Analysing Expected Goals (xG) ‚Äì Women‚Äôs Euros 2025 & World Cup 2023

**Competitions:** UEFA Women‚Äôs Euros 2025 & FIFA Women‚Äôs World Cup 2023  
**Purpose:** Analyse and compare team and player performance using Expected Goals (xG) metrics  
**Methods:** Event data analysis, xG modelling, exploratory visualisation  
**Author:** [Victoria Friss de Kereki](https://www.linkedin.com/in/victoria-friss-de-kereki/)  

---

**Notebook first written:** `01/01/2026`  
**Last updated:** `04/01/2026`  

> This notebook explores Expected Goals (xG) as a performance metric in elite women‚Äôs international football. Using match event data from major tournaments, it analyses shot quality, chance creation, and finishing efficiency at both team and player level. The framework can be extended to other competitions or adapted for club football with mini
> al changes.
al changes.

## Packages and configuration

In [46]:
from statsbombpy import sb
import pandas as pd
from mplsoccer import VerticalPitch,Pitch
from highlight_text import ax_text, fig_text
from matplotlib.colors import LinearSegmentedColormap
import matplotlib.pyplot as plt
import matplotlib.patheffects as path_effects
import seaborn as sns
import pprint
import numpy as np

## Load Competiton, Match, and Event Data from statsbombpy

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

# Call statsbombpy API to get all free competitions, then chec Women's comps
free_comps = sb.competitions()
women_comps = free_comps[free_comps['competition_gender'] == 'female']
women_comps

,competition_id,season_id,country_name,competition_name,competition_gender,competition_youth,competition_international,season_name,match_updated,match_updated_360,match_available_360,match_available
25,37,90,England,FA Women's Super League,female,False,False,2020/2021,2025-04-23T14:16:46.924831,2021-06-13T16:17:31.694,None,2025-04-23T14:16:46.924831
26,37,42,England,FA Women's Super League,female,False,False,2019/2020,2024-02-12T15:05:34.211400,2021-06-13T16:17:31.694,None,2024-02-12T15:05:34.211400
27,37,4,England,FA Women's Super League,female,False,False,2018/2019,2024-08-07T17:22:40.334287,2021-06-13T16:17:31.694,None,2024-08-07T17:22:40.334287
63,49,3,United States of America,NWSL,female,False,False,2018,2024-12-15T12:31:48.035735,2021-06-13T16:17:31.694,None,2024-12-15T12:31:48.035735
71,53,315,Europe,UEFA Women's Euro,female,False,True,2025,2025-07-28T14:19:20.467348,2025-07-29T16:03:07.355174,2025-07-29T16:03:07.355174,2025-07-28T14:19:20.467348
72,53,106,Europe,UEFA Women's Euro,female,False,True,2022,2024-02-13T13:27:17.178263,2024-02-13T13:30:52.820588,2024-02-13T13:30:52.820588,2024-02-13T13:27:17.178263
73,72,107,International,Women's World Cup,female,False,True,2023,2025-07-14T10:07:06.620906,2025-07-14T10:10:27.224586,2025-07-14T10:10:27.224586,2025-07-14T10:07:06.620906
74,72,30,International,Women's World Cup,female,False,True,2019,2024-08-08T15:57:56.748740,2021-06-13T16:17:31.694,None,2024-08-08T15:57:56.748740

# EUROS

In [3]:
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

matches_euros = sb.matches(competition_id=53, season_id=315)
matches_euros.head(2)

,match_id,match_date,kick_off,competition,season,home_team,away_team,home_score,away_score,match_status,match_status_360,last_updated,last_updated_360,match_week,competition_stage,stadium,referee,home_managers,away_managers,data_version,shot_fidelity_version,xy_fidelity_version
0,4020846,2025-07-27,16:00:00.000,Europe - UEFA Women's Euro,2025,England Women's,Spain Women's,1,1,available,available,2025-07-28T14:19:20.467348,2025-07-29T16:03:07.355174,6,Final,St. Jakob-Park,St√©phanie Frappart,Sarina Glotzbach-Wiegman,Montserrat Tom√© V√°zquez,1.1.0,2,2
1,4020077,2025-07-23,19:00:00.000,Europe - UEFA Women's Euro,2025,Germany Women's,Spain Women's,0,1,available,available,2025-07-24T19:44:48.774783,2025-07-25T15:22:27.432293,5,Semi-finals,Stadion Letzigrund,Edina Alves Batista,Christian Richard W√ºck,Montserrat Tom√© V√°zquez,1.1.0,2,2

### EUROS final - events

In [4]:
final_match = matches_euros[matches_euros['competition_stage'] == 'Final'].iloc[0]
final_match_id = final_match['match_id']

events_df = sb.events(match_id=final_match_id)

In [5]:
shots_df = events_df[events_df['type'] == 'Shot'].copy()

# Mark goals
shots_df['goal'] = shots_df['shot_outcome'].apply(lambda x: 1 if x == 'Goal' else 0)

In [6]:
# LINEUP

# Select first two Starting XI rows
xi_rows = events_df.loc[events_df['type'] == 'Starting XI'].iloc[:2]

# Create an empty list to store DataFrames
lineups = []

for _, xi_row in xi_rows.iterrows():
    tactics = xi_row['tactics']
    lineup_df = pd.DataFrame(tactics['lineup'])
    
    # Extract player and position info
    lineup_df['player_id'] = lineup_df['player'].apply(lambda x: x['id'])
    lineup_df['player'] = lineup_df['player'].apply(lambda x: x['name'])
    
    lineup_df['position_id'] = lineup_df['position'].apply(lambda x: x['id'])
    lineup_df['position'] = lineup_df['position'].apply(lambda x: x['name'])
    
    # Add team and formation
    lineup_df['team'] = xi_row['team']
    
    lineups.append(lineup_df)

# Combine home and away into one DataFrame
lineup_df = pd.concat(lineups, ignore_index=True)

lineup_df_euros = lineup_df

In [7]:
# Filter shots up to minute 120 (to exclude penalties)
shots_up_to_120 = shots_df[shots_df['minute'] < 120]

# Calculate total xG, goals, number of shots, and avg xG per shot for each player
player_xg_summary = shots_up_to_120.groupby(['player', 'team']).agg(
    shots=('shot_statsbomb_xg', 'count'),
    total_xg=('shot_statsbomb_xg', 'sum'),
    xg_per_shot=('shot_statsbomb_xg', 'mean'),
    goals=('goal', 'sum')
).sort_values('total_xg', ascending=False)

# Merge position info from the lineup
player_xg_summary = player_xg_summary.reset_index().merge(
    lineup_df_euros[['player', 'team', 'position', 'jersey_number']],
    on=['player', 'team'],
    how='left'
)

# Fill missing positions and jersey numbers for substitutes
player_xg_summary['position'] = player_xg_summary['position'].fillna('Sub')
player_xg_summary['jersey_number'] = player_xg_summary['jersey_number'].fillna(-1).astype(int)

# Reorder columns
player_xg_summary = player_xg_summary[
    ['player', 'team', 'position', 'jersey_number', 'shots', 'total_xg', 'xg_per_shot', 'goals']
]

player_xg_summary_euros = player_xg_summary
player_xg_summary_euros

,player,team,position,jersey_number,shots,total_xg,xg_per_shot,goals
0,Mar√≠a Francesca Caldentey Oliver,Spain Women's,Left Wing,8,3,0.547321,0.182440,1
1,Salma Paralluelo Ayingono,Spain Women's,Sub,-1,3,0.441645,0.147215,0
2,Lauren Hemp,England Women's,Right Wing,11,1,0.330250,0.330250,0
3,Esther Gonzalez Rodr√≠guez,Spain Women's,Center Forward,9,3,0.304451,0.101484,0
4,Alessia Russo,England Women's,Center Forward,23,2,0.277606,0.138803,1
5,Victoria L√≥pez,Spain Women's,Sub,-1,3,0.249601,0.083200,0
6,Aitana Bonmati Conca,Spain Women's,Right Center Midfield,6,4,0.216761,0.054190,0
7,Claudia Pina Medina,Spain Women's,Sub,-1,2,0.138034,0.069017,0
8,Athenea del Castillo Belvide,Spain Women's,Right Wing,10,3,0.115528,0.038509,0
9,Chloe Kelly,England Women's,Sub,-1,2,0.108643,0.054321,0
10,Alexia Putellas Segura,Spain Women's,Left Center Midfield,11,1,0.069630,0.069630,0
11,Georgia Stanway,England Women's,Left Defensive Midfield,8,1,0.059948,0.059948,0
12,Ella Toone,England Women's,Center Attacking Midfield,10,1,0.053555,0.053555,0
13,Irene Paredes Hernandez,Spain Women's,Right Center Back,4,1,0.053010,0.053010,0
14,Keira Walsh,England Women's,Right Defensive Midfield,4,1,0.052506,0.052506,0

In [8]:
# Total xG by substitutes
subs_xg = player_xg_summary_euros.loc[player_xg_summary_euros['position'] == 'Sub', 'total_xg'].sum()

# Total xG by other positions
starters_xg = player_xg_summary_euros.loc[player_xg_summary_euros['position'] != 'Sub', 'total_xg'].sum()

# Combine in a DataFrame for easy view
xg_split = pd.DataFrame({
    'Category': ['Subs', 'Starters/Other'],
    'Total_xG': [subs_xg, starters_xg]
})

xg_split

         Category  Total_xG
0            Subs  0.937922
1  Starters/Other  2.080566

In [9]:
# Calculate total xG and goals for each team
team_xg_summary = shots_up_to_120.groupby('team').agg(
    shots=('shot_statsbomb_xg', 'count'),
    total_xg=('shot_statsbomb_xg', 'sum'),
    goals=('goal', 'sum'),
    xg_per_shot=('shot_statsbomb_xg', 'mean')
).sort_values('total_xg', ascending=False)

team_xg_summary

                 shots  total_xg  goals  xg_per_shot
team
Spain Women's       23  2.135980      1     0.092869
England Women's      8  0.882508      1     0.110313

### Passes

In [10]:
passes_euros_final = events_df[events_df['type'] == 'Pass'].copy()

passes_euros_final.head(2)

,50_50,ball_receipt_outcome,ball_recovery_recovery_failure,carry_end_location,clearance_aerial_won,clearance_body_part,clearance_head,clearance_left_foot,clearance_other,clearance_right_foot,counterpress,dribble_nutmeg,dribble_outcome,duel_outcome,duel_type,duration,foul_committed_advantage,foul_committed_card,foul_won_advantage,foul_won_defensive,goalkeeper_body_part,goalkeeper_end_location,goalkeeper_outcome,goalkeeper_position,goalkeeper_technique,goalkeeper_type,id,index,injury_stoppage_in_chain,interception_outcome,location,match_id,minute,miscontrol_aerial_won,off_camera,out,pass_aerial_won,pass_angle,pass_assisted_shot_id,pass_body_part,pass_cross,pass_cut_back,pass_deflected,pass_end_location,pass_goal_assist,pass_height,pass_inswinging,pass_length,pass_outcome,pass_outswinging,pass_recipient,pass_recipient_id,pass_shot_assist,pass_straight,pass_switch,pass_technique,pass_through_ball,pass_type,period,play_pattern,player,player_id,position,possession,possession_team,possession_team_id,related_events,second,shot_body_part,shot_end_location,shot_first_time,shot_freeze_frame,shot_key_pass_id,shot_one_on_one,shot_outcome,shot_statsbomb_xg,shot_technique,shot_type,substitution_outcome,substitution_outcome_id,substitution_replacement,substitution_replacement_id,tactics,team,team_id,timestamp,type,under_pressure
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.551716,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8b621ae4-ea81-415c-af41-9669db9bdd93,5,NaN,NaN,"[61.0, 40.1]",4020846,0,NaN,NaN,NaN,NaN,3.049369,NaN,Right Foot,NaN,NaN,NaN,"[26.4, 43.3]",NaN,Ground Pass,NaN,34.747660,NaN,NaN,Hannah Hampton,22032.0,NaN,NaN,NaN,NaN,NaN,Kick Off,1,From Kick Off,Ella Toone,31534.0,Center Attacking Midfield,2,England Women's,865,[4706efbe-767c-45aa-9351-09528a77d135],0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,England Women's,865,00:00:00.682,Pass,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.108339,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27fa7d4d-d637-4487-98e2-5c078ad600c7,9,NaN,NaN,"[28.5, 43.8]",4020846,0,NaN,NaN,NaN,NaN,0.269167,NaN,Right Foot,NaN,NaN,NaN,"[83.6, 59.0]",NaN,High Pass,NaN,57.158115,NaN,NaN,Lucy Bronze,10178.0,NaN,NaN,NaN,NaN,NaN,NaN,1,From Kick Off,Hannah Hampton,22032.0,Goalkeeper,2,England Women's,865,"[6fd0aa81-8d8c-47aa-965b-d5737b19b868, 764d437...",4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,England Women's,865,00:00:04.396,Pass,True

In [25]:
pass_columns = [
    # Identifiers & context
    "id", "match_id", "period", "minute", "second", "timestamp",
    "team", "team_id", "player", "player_id", "position",
    "possession", "possession_team", "possession_team_id",
    "play_pattern", "under_pressure",

    # Locations
    "location", "pass_end_location",

    # Pass characteristics
    "pass_length", "pass_angle", "pass_height",
    "pass_body_part", "pass_technique", "pass_type",

    # Pass intent / style
    "pass_cross", "pass_through_ball", "pass_switch",
    "pass_cut_back", "pass_straight",
    "pass_inswinging", "pass_outswinging",

    # Outcomes & links
    "pass_outcome",
    "pass_recipient", "pass_recipient_id",
    "pass_assisted_shot_id", "pass_shot_assist",
    "pass_goal_assist",

    # Pressure & context
    "counterpress"
]

In [32]:
passes_euros_final_clean = passes_euros_final[pass_columns].copy()
passes_euros_final_clean.head(4)

,id,match_id,period,minute,second,timestamp,team,team_id,player,player_id,position,possession,possession_team,possession_team_id,play_pattern,under_pressure,location,pass_end_location,pass_length,pass_angle,pass_height,pass_body_part,pass_technique,pass_type,pass_cross,pass_through_ball,pass_switch,pass_cut_back,pass_straight,pass_inswinging,pass_outswinging,pass_outcome,pass_recipient,pass_recipient_id,pass_assisted_shot_id,pass_shot_assist,pass_goal_assist,counterpress
12,8b621ae4-ea81-415c-af41-9669db9bdd93,4020846,1,0,0,00:00:00.682,England Women's,865,Ella Toone,31534.0,Center Attacking Midfield,2,England Women's,865,From Kick Off,NaN,"[61.0, 40.1]","[26.4, 43.3]",34.747660,3.049369,Ground Pass,Right Foot,NaN,Kick Off,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Hannah Hampton,22032.0,NaN,NaN,NaN,NaN
13,27fa7d4d-d637-4487-98e2-5c078ad600c7,4020846,1,0,4,00:00:04.396,England Women's,865,Hannah Hampton,22032.0,Goalkeeper,2,England Women's,865,From Kick Off,True,"[28.5, 43.8]","[83.6, 59.0]",57.158115,0.269167,High Pass,Right Foot,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Lucy Bronze,10178.0,NaN,NaN,NaN,NaN
14,dec91305-49ce-463b-bda2-876bbc37660f,4020846,1,0,7,00:00:07.505,England Women's,865,Lucy Bronze,10178.0,Right Back,2,England Women's,865,From Kick Off,NaN,"[83.6, 59.0]","[91.8, 69.5]",13.322537,0.907778,High Pass,Head,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Lauren Hemp,15555.0,NaN,NaN,NaN,NaN
15,ace589b9-15e1-4326-af54-7928fe9178df,4020846,1,0,9,00:00:09.296,England Women's,865,Lauren Hemp,15555.0,Right Wing,2,England Women's,865,From Kick Off,True,"[91.8, 69.5]","[95.1, 60.9]",9.211406,-1.204402,Low Pass,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Alessia Russo,47521.0,NaN,NaN,NaN,NaN

In [29]:
print("Total Euros's Final Pass Events:", len(passes_euros_final_clean))

Total Euros's Final Pass Events: 1306

In [37]:
# Descriptive analysis of columns indicating pass difficulty

df = passes_euros_final_clean.copy()

# treat IDs / state variables as categorical
for col in [
    "possession",
    "possession_team_id",
    "team_id",
    "player_id",
    "pass_recipient_id",
    "match_id"
]:
    if col in df.columns:
        df[col] = df[col].astype("category")

# split columns
num_cols = df.select_dtypes(include="number").columns
cat_cols = df.columns.difference(num_cols)

# numeric summary
df[num_cols].describe().T

,count,mean,std,min,25%,50%,75%,max
period,1306.0,1.916539,0.976310,1.000000,1.000000,2.000000,2.000000,4.000000
minute,1306.0,57.112557,35.530791,0.000000,27.000000,53.000000,91.000000,122.000000
second,1306.0,28.705207,17.405542,0.000000,13.000000,28.000000,44.000000,59.000000
pass_length,1306.0,19.590550,13.816006,1.000000,10.171888,16.239610,24.184021,100.251080
pass_angle,1306.0,0.035255,1.550250,-3.122727,-1.186932,0.045143,1.200095,3.141593

In [38]:
# categorical options
for c in cat_cols:
    print(c)
    print(df[c].value_counts(dropna=False))
    print()

counterpress
counterpress
NaN     1300
True       6
Name: count, dtype: int64

id
id
8b621ae4-ea81-415c-af41-9669db9bdd93    1
f48a2e91-6be1-417b-b141-948e6ef217a9    1
f707b0b7-e000-4244-877c-88905a28ea41    1
1e890c1d-f822-4022-ad7a-ac2b046f2d39    1
8826bdd1-1202-427d-8d2d-351021b9ed47    1
                                       ..
1f6398b0-0b87-4329-a6b5-177a38853ee9    1
01b15b2b-1ce3-4b83-8b02-8065c77d6da1    1
95f8048e-4ce7-47c9-b9d1-64485dabfcd6    1
6c2ac10e-9bd3-4f5f-9aa7-2e2a5b4ac5a4    1
20fc3418-afd8-49f0-936e-88682d7e62d8    1
Name: count, Length: 1306, dtype: int64

location
location
[61.0, 40.1]     6
[120.0, 0.1]     6
[120.0, 80.0]    4
[6.0, 30.0]      2
[66.8, 31.9]     2
                ..
[66.0, 80.0]     1
[55.1, 76.0]     1
[66.2, 2.2]      1
[50.0, 77.3]     1
[105.2, 76.3]    1
Name: count, Length: 1287, dtype: int64

match_id
match_id
4020846    1306
Name: count, dtype: int64

pass_assisted_shot_id
pass_assisted_shot_id
NaN                                     1280
c0f1f98f-a45f-4cec-9526-2aa6b3696439       1
d806b785-9a62-4461-8e82-391ef39d419d       1
485998bb-34c7-4c29-94d3-49882235d910       1
a991db9e-7546-4833-a2f5-58e1c6c93cec       1
db716a42-7e87-40e0-8eaa-cae0f4fe3d0a       1
cab45150-68c6-42a7-b62b-2348b11ade5c       1
f4aa2ad1-025a-4843-baa7-5c06155af3c2       1
6c6f8507-db83-4ddf-b8ce-a218ab8a2b95       1
ec7e57f4-ba02-443c-9d60-a7887345ef41       1
ed2fe79c-0564-46e4-8547-b4d1a95323ad       1
6c8b652e-e5ea-488e-861e-56d8ce749e5d       1
00e898ed-ad62-46f6-b212-1f3816d188dd       1
bde9fc38-558f-4f08-b84e-bf18ac7f7184       1
066d4896-191d-42ed-b8e8-173a1005c871       1
f97538b0-8eae-4fa3-95ba-888f8207b990       1
7e126939-0310-4fe5-91df-f05da1f7393c       1
20d114dc-de35-4b35-bdf1-0ac7c9663a55       1
7e1160a6-4c0d-4bf5-ae19-f31627c51859       1
77bc37e9-cde3-4359-b3cc-1416f52196a5       1
209e6d92-8713-44a9-a529-b326baf185d1       1
19fe6b40-71be-42f7-b00f-fac90afaf811       1
e34676c8-6d54-4ce7-8daf-dd6fa65650f5       1
b6344acc-b333-4b4f-8e0c-ef79fe08a1a1       1
4b836bc7-fa66-44f0-ba02-70d97eb16f40       1
75ada573-a8f2-4211-8eba-08cffb7209e5       1
2a2730a0-1c4d-4926-86b3-ec9f10ee6a75       1
Name: count, dtype: int64

pass_body_part
pass_body_part
Right Foot    855
Left Foot     330
NaN            66
Head           39
Keeper Arm     10
Drop Kick       4
Other           2
Name: count, dtype: int64

pass_cross
pass_cross
NaN     1267
True      39
Name: count, dtype: int64

pass_cut_back
pass_cut_back
NaN     1303
True       3
Name: count, dtype: int64

pass_end_location
pass_end_location
[84.6, 77.9]     2
[92.2, 74.0]     2
[26.4, 43.3]     1
[73.0, 63.5]     1
[89.3, 26.8]     1
                ..
[73.6, 77.3]     1
[68.3, 4.7]      1
[52.8, 77.9]     1
[80.8, 11.5]     1
[107.0, 67.0]    1
Name: count, Length: 1304, dtype: int64

pass_goal_assist
pass_goal_assist
NaN     1304
True       2
Name: count, dtype: int64

pass_height
pass_height
Ground Pass    918
High Pass      231
Low Pass       157
Name: count, dtype: int64

pass_inswinging
pass_inswinging
NaN     1300
True       6
Name: count, dtype: int64

pass_outcome
pass_outcome
NaN                 1040
Incomplete           227
Out                   24
Unknown               11
Pass Offside           3
Injury Clearance       1
Name: count, dtype: int64

pass_outswinging
pass_outswinging
NaN     1305
True       1
Name: count, dtype: int64

pass_recipient
pass_recipient
NaN                                 158
Ona Batlle Pascual                   92
Laia Aleixandri L√≥pez                89
Aitana Bonmati Conca                 86
Mar√≠a Francesca Caldentey Oliver     81
Irene Paredes Hernandez              67
Patricia Guijarro Guti√©rrez          66
Olga  Carmona Garc√≠a                 59
Lauren Hemp                          49
Alexia Putellas Segura               47
Jessica Carter                       43
Leah Williamson                      41
Alex Greenwood                       39
Keira Walsh                          37
Georgia Stanway                      35
Lucy Bronze                          34
Athenea del Castillo Belvide         29
Claudia Pina Medina                  27
Victoria L√≥pez                       27
Esther Gonzalez Rodr√≠guez            25
Hannah Hampton                       24
Alessia Russo                        24
Ella Toone                           21
Catalina Thomas Coll Lluch           20
Chloe Kelly                          19
Michelle Agyemang                    19
Salma Paralluelo Ayingono            15
Lauren James                         14
Bethany Mead                         10
Leila Ouahabi El Ouahabi              6
Grace Clinton                         2
Niamh Charles                         1
Name: count, dtype: int64

pass_recipient_id
pass_recipient_id
NaN          158
 46639.0      92
 32210.0      89
 15284.0      86
 10161.0      81
 10165.0      67
 15287.0      66
 49836.0      59
 15555.0      49
 10143.0      47
 19422.0      43
 18999.0      41
 10252.0      39
 4658.0       37
 4643.0       35
 10178.0      34
 49913.0      29
 32838.0      27
 135780.0     27
 50146.0      25
 22032.0      24
 47521.0      24
 31534.0      21
 45295.0      20
 338201.0     19
 15570.0      19
 222682.0     15
 31531.0      14
 15619.0      10
 10163.0       6
 46740.0       2
 15631.0       1
Name: count, dtype: int64

pass_shot_assist
pass_shot_assist
NaN     1282
True      24
Name: count, dtype: int64

pass_straight
pass_straight
NaN     1303
True       3
Name: count, dtype: int64

pass_switch
pass_switch
NaN     1285
True      21
Name: count, dtype: int64

pass_technique
pass_technique
NaN             1294
Inswinging         6
Straight           3
Through Ball       2
Outswinging        1
Name: count, dtype: int64

pass_through_ball
pass_through_ball
NaN     1304
True       2
Name: count, dtype: int64

pass_type
pass_type
NaN             1091
Recovery          82
Throw-in          54
Free Kick         29
Goal Kick         24
Interception      10
Corner            10
Kick Off           6
Name: count, dtype: int64

play_pattern
play_pattern
Regular Play      488
From Throw In     353
From Free Kick    212
From Keeper       104
From Goal Kick     68
From Corner        41
From Kick Off      35
From Counter        5
Name: count, dtype: int64

player
player
Ona Batlle Pascual                  115
Laia Aleixandri L√≥pez               103
Aitana Bonmati Conca                 86
Olga  Carmona Garc√≠a                 85
Irene Paredes Hernandez              84
Mar√≠a Francesca Caldentey Oliver     83
Patricia Guijarro Guti√©rrez          76
Lucy Bronze                          66
Hannah Hampton                       57
Leah Williamson                      56
Jessica Carter                       51
Alex Greenwood                       51
Alexia Putellas Segura               49
Georgia Stanway                      43
Keira Walsh                          41
Lauren Hemp                          36
Claudia Pina Medina                  33
Catalina Thomas Coll Lluch           32
Athenea del Castillo Belvide         29
Victoria L√≥pez                       28
Ella Toone                           21
Chloe Kelly                          18
Esther Gonzalez Rodr√≠guez            14
Lauren James                         11
Alessia Russo                         8
Salma Paralluelo Ayingono             8
Leila Ouahabi El Ouahabi              7
Michelle Agyemang                     6
Bethany Mead                          5
Niamh Charles                         2
Grace Clinton                         2
Name: count, dtype: int64

player_id
player_id
46639.0     115
32210.0     103
15284.0      86
49836.0      85
10165.0      84
10161.0      83
15287.0      76
10178.0      66
22032.0      57
18999.0      56
19422.0      51
10252.0      51
10143.0      49
4643.0       43
4658.0       41
15555.0      36
32838.0      33
45295.0      32
49913.0      29
135780.0     28
31534.0      21
15570.0      18
50146.0      14
31531.0      11
222682.0      8
47521.0       8
10163.0       7
338201.0      6
15619.0       5
46740.0       2
15631.0       2
Name: count, dtype: int64

position
position
Right Back                   183
Left Center Back             154
Left Back                    143
Right Center Back            140
Left Wing                    111
Right Wing                    93
Goalkeeper                    89
Right Center Midfield         86
Left Center Midfield          83
Center Defensive Midfield     76
Left Defensive Midfield       45
Right Defensive Midfield      41
Center Forward                36
Center Attacking Midfield     26
Name: count, dtype: int64

possession
possession
68     45
63     37
62     30
144    20
198    20
       ..
158     1
127     1
60      1
132     1
70      1
Name: count, Length: 212, dtype: int64

possession_team
possession_team
Spain Women's      861
England Women's    445
Name: count, dtype: int64

possession_team_id
possession_team_id
863    861
865    445
Name: count, dtype: int64

team
team
Spain Women's      832
England Women's    474
Name: count, dtype: int64

team_id
team_id
863    832
865    474
Name: count, dtype: int64

timestamp
timestamp
00:00:00.682    1
00:32:14.954    1
00:34:01.184    1
00:33:54.834    1
00:33:51.791    1
               ..
00:35:43.169    1
00:35:41.751    1
00:35:30.910    1
00:35:21.276    1
00:17:04.424    1
Name: count, Length: 1306, dtype: int64

under_pressure
under_pressure
NaN     1068
True     238
Name: count, dtype: int64

In [41]:
# Basic (raw) pass completion rate
df = passes_euros_final_clean.copy()
df["completed"] = df["pass_outcome"].isna().astype(int)

In [44]:
# Per player
player_basic = (
    df
    .groupby("player")
    .agg(
        passes=("id", "count"),
        completed=("completed", "sum")
    )
)

player_basic["completion_rate"] = (
    player_basic["completed"] / player_basic["passes"]
)

player_basic

                                  passes  completed  completion_rate
player
Aitana Bonmati Conca                  86         73         0.848837
Alessia Russo                          8          4         0.500000
Alex Greenwood                        51         42         0.823529
Alexia Putellas Segura                49         39         0.795918
Athenea del Castillo Belvide          29         19         0.655172
Bethany Mead                           5          5         1.000000
Catalina Thomas Coll Lluch            32         26         0.812500
Chloe Kelly                           18         11         0.611111
Claudia Pina Medina                   33         20         0.606061
Ella Toone                            21         18         0.857143
Esther Gonzalez Rodr√≠guez             14         12         0.857143
Georgia Stanway                       43         35         0.813953
Grace Clinton                          2          2         1.000000
Hannah Hampton                        57         31         0.543860
Irene Paredes Hernandez               84         78         0.928571
Jessica Carter                        51         45         0.882353
Keira Walsh                           41         30         0.731707
Laia Aleixandri L√≥pez                103         97         0.941748
Lauren Hemp                           36         20         0.555556
Lauren James                          11          7         0.636364
Leah Williamson                       56         47         0.839286
Leila Ouahabi El Ouahabi               7          7         1.000000
Lucy Bronze                           66         40         0.606061
Mar√≠a Francesca Caldentey Oliver      83         66         0.795181
Michelle Agyemang                      6          3         0.500000
Niamh Charles                          2          1         0.500000
Olga  Carmona Garc√≠a                  85         67         0.788235
Ona Batlle Pascual                   115         98         0.852174
Patricia Guijarro Guti√©rrez           76         66         0.868421
Salma Paralluelo Ayingono              8          8         1.000000
Victoria L√≥pez                        28         23         0.821429

In [45]:
team_basic = (
    df
    .groupby("team")
    .agg(
        passes=("id", "count"),
        completed=("completed", "sum")
    )
)

team_basic["completion_rate"] = (
    team_basic["completed"] / team_basic["passes"]
)

team_basic

                 passes  completed  completion_rate
team
England Women's     474        341         0.719409
Spain Women's       832        699         0.840144

#### Adjusted passes completion rate
(a) Longer
More time in flight
More interception risk
‚Üí pass_length

(b) Played under pressure
Reduced decision time
Poorer body orientation
‚Üí under_pressure

(c) Aerial
Harder to control and receive
More variance
‚Üí pass_height
(High Pass > Low Pass > Ground Pass)

(d) Intentional risk passes
These are designed to break structure:
pass_through_ball
pass_cross
pass_switch

(e) Progressive
Moves the ball meaningfully forward
‚Üí based on location ‚Üí pass_end_location

In [48]:
df["under_pressure"] = df["under_pressure"].fillna(False).astype(bool).astype(int)
df["through_ball"] = df["pass_through_ball"].fillna(False).astype(bool).astype(int)
df["cross"] = df["pass_cross"].fillna(False).astype(bool).astype(int)
df["switch"] = df["pass_switch"].fillna(False).astype(bool).astype(int)
df["high_pass"] = (df["pass_height"] == "High Pass").astype(int)

df["start_x"] = df["location"].str[0]
df["end_x"] = df["pass_end_location"].str[0]
df["progressive"] = (df["end_x"] - df["start_x"] > 10).astype(int)

df["difficulty"] = (
    0.03 * df["pass_length"] +
    0.5  * df["under_pressure"] +
    0.7  * df["high_pass"] +
    0.8  * df["through_ball"] +
    0.6  * df["cross"] +
    0.6  * df["switch"] +
    0.5  * df["progressive"]
)

player_pass = (
    df.groupby("player")
      .agg(
          passes=("id", "count"),
          completed=("completed", "sum"),
          total_difficulty=("difficulty", "sum"),
          completed_difficulty=("difficulty", lambda x: x[df.loc[x.index, "completed"] == 1].sum())
      )
)

player_pass["completion_rate"] = player_pass["completed"] / player_pass["passes"]
player_pass["difficulty_adjusted_rate"] = (
    player_pass["completed_difficulty"] / player_pass["total_difficulty"]
)

team_pass = (
    df.groupby("team")
      .agg(
          passes=("id", "count"),
          completed=("completed", "sum"),
          total_difficulty=("difficulty", "sum"),
          completed_difficulty=("difficulty", lambda x: x[df.loc[x.index, "completed"] == 1].sum())
      )
)

team_pass["completion_rate"] = team_pass["completed"] / team_pass["passes"]
team_pass["difficulty_adjusted_rate"] = (
    team_pass["completed_difficulty"] / team_pass["total_difficulty"]
)

C:\Users\vicky\AppData\Local\Temp\ipykernel_27756\64581012.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["through_ball"] = df["pass_through_ball"].fillna(False).astype(bool).astype(int)
C:\Users\vicky\AppData\Local\Temp\ipykernel_27756\64581012.py:3: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["cross"] = df["pass_cross"].fillna(False).astype(bool).astype(int)
C:\Users\vicky\AppData\Local\Temp\ipykernel_27756\64581012.py:4: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["switch"] = df["pass_switch"].fillna(False).astype(bool).astype(int)

In [49]:
player_pass

,passes,completed,total_difficulty,completed_difficulty,completion_rate,difficulty_adjusted_rate
player,,,,,,
Aitana Bonmati Conca,86,73,60.274290,49.789467,0.848837,0.826048
Alessia Russo,8,4,8.174196,4.996706,0.500000,0.611278
Alex Greenwood,51,42,57.554178,37.987062,0.823529,0.660023
Alexia Putellas Segura,49,39,37.599232,22.036470,0.795918,0.586088
Athenea del Castillo Belvide,29,19,17.744875,8.121691,0.655172,0.457692
Bethany Mead,5,5,4.129474,4.129474,1.000000,1.000000
Catalina Thomas Coll Lluch,32,26,47.170994,32.743540,0.812500,0.694146
Chloe Kelly,18,11,26.553070,12.457250,0.611111,0.469145
Claudia Pina Medina,33,20,45.428440,19.651130,0.606061,0.432573
Ella Toone,21,18,18.440899,15.793045,0.857143,0.856414
Esther Gonzalez Rodr√≠guez,14,12,7.589487,5.646911,0.857143,0.744044
Georgia Stanway,43,35,40.042309,24.519371,0.813953,0.612337
Grace Clinton,2,2,1.654107,1.654107,1.000000,1.000000
Hannah Hampton,57,31,134.380911,47.144667,0.543860,0.350829
Irene Paredes Hernandez,84,78,67.807181,58.222768,0.928571,0.858652
Jessica Carter,51,45,55.856473,38.891455,0.882353,0.696275
Keira Walsh,41,30,54.676524,28.378123,0.731707,0.519018
Laia Aleixandri L√≥pez,103,97,84.443863,74.858571,0.941748,0.886489
Lauren Hemp,36,20,43.114917,18.405858,0.555556,0.426902
Lauren James,11,7,11.747534,5.861503,0.636364,0.498956
Leah Williamson,56,47,87.972889,67.100151,0.839286,0.762737
Leila Ouahabi El Ouahabi,7,7,7.885539,7.885539,1.000000,1.000000
Lucy Bronze,66,40,72.403507,32.626576,0.606061,0.450621
Mar√≠a Francesca Caldentey Oliver,83,66,62.421306,46.048366,0.795181,0.737703
Michelle Agyemang,6,3,5.672670,2.379406,0.500000,0.419451
Niamh Charles,2,1,2.405428,0.429796,0.500000,0.178678
Olga Carmona Garc√≠a,85,67,70.153279,47.729715,0.788235,0.680363
Ona Batlle Pascual,115,98,76.774522,60.251105,0.852174,0.784780
Patricia Guijarro Guti√©rrez,76,66,65.632572,48.187700,0.868421,0.734204
Salma Paralluelo Ayingono,8,8,3.502989,3.502989,1.000000,1.000000
Victoria L√≥pez,28,23,18.150078,11.928118,0.821429,0.657194

In [50]:
team_pass

,passes,completed,total_difficulty,completed_difficulty,completion_rate,difficulty_adjusted_rate
team,,,,,,
England Women's,474,341,624.779088,342.754552,0.719409,0.548601
Spain Women's,832,699,672.578646,496.604080,0.840144,0.738358

In [51]:
# Build a xP model

df["start_x"] = df["location"].str[0]
df["start_y"] = df["location"].str[1]
df["end_x"] = df["pass_end_location"].str[0]
df["end_y"] = df["pass_end_location"].str[1]

df["dx"] = df["end_x"] - df["start_x"]
df["dy"] = df["end_y"] - df["start_y"]

df["distance"] = np.sqrt(df["dx"]**2 + df["dy"]**2)
df["forward"] = (df["dx"] > 0).astype(int)

df["under_pressure"] = df["under_pressure"].fillna(False).astype(bool).astype(int)
df["through_ball"] = df["pass_through_ball"].fillna(False).astype(bool).astype(int)
df["cross"] = df["pass_cross"].fillna(False).astype(bool).astype(int)
df["switch"] = df["pass_switch"].fillna(False).astype(bool).astype(int)

df["high_pass"] = (df["pass_height"] == "High Pass").astype(int)

C:\Users\vicky\AppData\Local\Temp\ipykernel_27756\1294120392.py:15: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["through_ball"] = df["pass_through_ball"].fillna(False).astype(bool).astype(int)
C:\Users\vicky\AppData\Local\Temp\ipykernel_27756\1294120392.py:16: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["cross"] = df["pass_cross"].fillna(False).astype(bool).astype(int)
C:\Users\vicky\AppData\Local\Temp\ipykernel_27756\1294120392.py:17: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["switch"] = df["pass_switch"].fillna(False).astype(bool).astype(int)

In [52]:
from sklearn.linear_model import LogisticRegression

features = [
    "distance",
    "forward",
    "under_pressure",
    "high_pass",
    "through_ball",
    "cross",
    "switch"
]

X = df[features]
y = df["completed"]

model = LogisticRegression(max_iter=1000)
model.fit(X, y)

LogisticRegression(max_iter=1000)

In [53]:
df["xP"] = model.predict_proba(X)[:, 1]
df["difficulty"] = 1 - df["xP"]

In [56]:
player_xp = (
    df.groupby("player")
      .agg(
          passes=("id", "count"),
          completed=("completed", "sum"),
          expected_completed=("xP", "sum")
      )
)

player_xp["raw_completion"] = (
    player_xp["completed"] / player_xp["passes"]
)

player_xp["xp_adjusted"] = (
    player_xp["completed"] - player_xp["expected_completed"]
)

player_xp

,passes,completed,expected_completed,raw_completion,xp_adjusted
player,,,,,
Aitana Bonmati Conca,86,73,73.712751,0.848837,-0.712751
Alessia Russo,8,4,6.621285,0.500000,-2.621285
Alex Greenwood,51,42,39.874229,0.823529,2.125771
Alexia Putellas Segura,49,39,40.816219,0.795918,-1.816219
Athenea del Castillo Belvide,29,19,24.265030,0.655172,-5.265030
Bethany Mead,5,5,4.410629,1.000000,0.589371
Catalina Thomas Coll Lluch,32,26,22.468441,0.812500,3.531559
Chloe Kelly,18,11,12.237217,0.611111,-1.237217
Claudia Pina Medina,33,20,24.653198,0.606061,-4.653198
Ella Toone,21,18,18.550292,0.857143,-0.550292
Esther Gonzalez Rodr√≠guez,14,12,12.389024,0.857143,-0.389024
Georgia Stanway,43,35,35.275961,0.813953,-0.275961
Grace Clinton,2,2,1.800742,1.000000,0.199258
Hannah Hampton,57,31,29.822925,0.543860,1.177075
Irene Paredes Hernandez,84,78,71.301229,0.928571,6.698771
Jessica Carter,51,45,40.254595,0.882353,4.745405
Keira Walsh,41,30,29.998579,0.731707,0.001421
Laia Aleixandri L√≥pez,103,97,88.121106,0.941748,8.878894
Lauren Hemp,36,20,26.597923,0.555556,-6.597923
Lauren James,11,7,8.859676,0.636364,-1.859676
Leah Williamson,56,47,38.445804,0.839286,8.554196
Leila Ouahabi El Ouahabi,7,7,5.185910,1.000000,1.814090
Lucy Bronze,66,40,48.337823,0.606061,-8.337823
Mar√≠a Francesca Caldentey Oliver,83,66,70.381103,0.795181,-4.381103
Michelle Agyemang,6,3,4.653636,0.500000,-1.653636
Niamh Charles,2,1,1.409506,0.500000,-0.409506
Olga Carmona Garc√≠a,85,67,68.137859,0.788235,-1.137859
Ona Batlle Pascual,115,98,99.584204,0.852174,-1.584204
Patricia Guijarro Guti√©rrez,76,66,61.785864,0.868421,4.214136
Salma Paralluelo Ayingono,8,8,7.421554,1.000000,0.578446
Victoria L√≥pez,28,23,22.627531,0.821429,0.372469

In [57]:
team_xp = (
    df.groupby("team")
      .agg(
          passes=("id", "count"),
          completed=("completed", "sum"),
          expected_completed=("xP", "sum")
      )
)

team_xp["raw_completion"] = (
    team_xp["completed"] / team_xp["passes"]
)

team_xp["xp_adjusted"] = (
    team_xp["completed"] - team_xp["expected_completed"]
)

team_xp

,passes,completed,expected_completed,raw_completion,xp_adjusted
team,,,,,
England Women's,474,341,347.150823,0.719409,-6.150823
Spain Women's,832,699,692.851022,0.840144,6.148978

## WORLDS

In [10]:
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

matches_worlds = sb.matches(competition_id=72, season_id=107)
matches_worlds.head(2)

,match_id,match_date,kick_off,competition,season,home_team,away_team,home_score,away_score,match_status,match_status_360,last_updated,last_updated_360,match_week,competition_stage,stadium,referee,home_managers,away_managers,data_version,shot_fidelity_version,xy_fidelity_version
0,3904629,2023-08-16,13:00:00.000,International - Women's World Cup,2023,Australia Women's,England Women's,1,3,available,available,2023-08-30T11:15:11.306289,2023-08-30T11:17:47.551826,6,Semi-finals,Accor Stadium,Tori Penso,Tony Gustavsson,Sarina Glotzbach-Wiegman,1.1.0,2,2
1,3906390,2023-08-20,13:00:00.000,International - Women's World Cup,2023,Spain Women's,England Women's,1,0,available,available,2023-08-22T19:29:29.948278,2023-08-22T19:38:43.965521,7,Final,Accor Stadium,Tori Penso,Jorge Vilda,Sarina Glotzbach-Wiegman,1.1.0,2,2

In [11]:
final_match = matches_worlds[matches_worlds['competition_stage'] == 'Final'].iloc[0]
final_match_id = final_match['match_id']

events_df = sb.events(match_id=final_match_id)

In [12]:
shots_df = events_df[events_df['type'] == 'Shot'].copy()

# Mark goals
shots_df['goal'] = shots_df['shot_outcome'].apply(lambda x: 1 if x == 'Goal' else 0)

In [13]:
# LINEUP

# Select first two Starting XI rows
xi_rows = events_df.loc[events_df['type'] == 'Starting XI'].iloc[:2]

# Create an empty list to store DataFrames
lineups = []

for _, xi_row in xi_rows.iterrows():
    tactics = xi_row['tactics']
    lineup_df = pd.DataFrame(tactics['lineup'])
    
    # Extract player and position info
    lineup_df['player_id'] = lineup_df['player'].apply(lambda x: x['id'])
    lineup_df['player'] = lineup_df['player'].apply(lambda x: x['name'])
    
    lineup_df['position_id'] = lineup_df['position'].apply(lambda x: x['id'])
    lineup_df['position'] = lineup_df['position'].apply(lambda x: x['name'])
    
    # Add team and formation
    lineup_df['team'] = xi_row['team']
    
    lineups.append(lineup_df)

# Combine home and away into one DataFrame
lineup_df = pd.concat(lineups, ignore_index=True)

lineup_df_worlds = lineup_df

In [14]:
# Filter shots up to minute 120 (to exclude penalties)
shots_up_to_120 = shots_df[shots_df['minute'] < 120]

# Calculate total xG, goals, number of shots, and avg xG per shot for each player
player_xg_summary = shots_up_to_120.groupby(['player', 'team']).agg(
    shots=('shot_statsbomb_xg', 'count'),
    total_xg=('shot_statsbomb_xg', 'sum'),
    xg_per_shot=('shot_statsbomb_xg', 'mean'),
    goals=('goal', 'sum')
).sort_values('total_xg', ascending=False)

# Merge position info from the lineup
player_xg_summary = player_xg_summary.reset_index().merge(
    lineup_df_worlds[['player', 'team', 'position', 'jersey_number']],
    on=['player', 'team'],
    how='left'
)

# Fill missing positions and jersey numbers for substitutes
player_xg_summary['position'] = player_xg_summary['position'].fillna('Sub')
player_xg_summary['jersey_number'] = player_xg_summary['jersey_number'].fillna(-1).astype(int)

# Reorder columns
player_xg_summary = player_xg_summary[
    ['player', 'team', 'position', 'jersey_number', 'shots', 'total_xg', 'xg_per_shot', 'goals']
]

player_xg_summary_worlds = player_xg_summary
player_xg_summary_worlds

,player,team,position,jersey_number,shots,total_xg,xg_per_shot,goals
0,Jennifer Hermoso Fuentes,Spain Women's,Center Attacking Midfield,10,2,0.843641,0.421821,0
1,Salma Paralluelo Ayingono,Spain Women's,Center Forward,18,3,0.503586,0.167862,0
2,Alba Mar√≠a Redondo Ferrer,Spain Women's,Right Wing,17,2,0.471368,0.235684,0
3,Lauren Hemp,England Women's,Left Center Forward,11,4,0.397953,0.099488,0
4,Alexia Putellas Segura,Spain Women's,Sub,-1,1,0.098619,0.098619,0
5,Aitana Bonmati Conca,Spain Women's,Right Center Midfield,6,2,0.091389,0.045694,0
6,Olga Carmona Garc√≠a,Spain Women's,Left Back,19,1,0.054861,0.054861,1
7,Millie Bright,England Women's,Center Back,6,2,0.050700,0.025350,0
8,Irene Paredes Hernandez,Spain Women's,Right Center Back,4,1,0.049800,0.049800,0
9,Mar√≠a Francesca Caldentey Oliver,Spain Women's,Left Wing,8,1,0.046465,0.046465,0
10,Ona Batlle Pascual,Spain Women's,Right Back,2,1,0.034393,0.034393,0
11,Lauren James,England Women's,Sub,-1,1,0.014294,0.014294,0
12,Lucy Bronze,England Women's,Right Wing Back,2,1,0.006732,0.006732,0

In [15]:
# Total xG by substitutes
subs_xg = player_xg_summary_worlds.loc[player_xg_summary_worlds['position'] == 'Sub', 'total_xg'].sum()

# Total xG by other positions
starters_xg = player_xg_summary_worlds.loc[player_xg_summary_worlds['position'] != 'Sub', 'total_xg'].sum()

# Combine in a DataFrame for easy view
xg_split = pd.DataFrame({
    'Category': ['Subs', 'Starters/Other'],
    'Total_xG': [subs_xg, starters_xg]
})

xg_split

         Category  Total_xG
0            Subs  0.112913
1  Starters/Other  2.550889

In [16]:
# Calculate total xG and goals for each team
team_xg_summary = shots_up_to_120.groupby('team').agg(
    shots=('shot_statsbomb_xg', 'count'),
    total_xg=('shot_statsbomb_xg', 'sum'),
    goals=('goal', 'sum'),
    xg_per_shot=('shot_statsbomb_xg', 'mean')
).sort_values('total_xg', ascending=False)

team_xg_summary

                 shots  total_xg  goals  xg_per_shot
team
Spain Women's       14  2.194123      1     0.156723
England Women's      8  0.469679      0     0.058710